*{
    border: none;
    padding: 0;
    margin: 0;
    font: 11px/1.5 tahoma,arial,'Hiragino Sans GB', '微软雅黑', 'sans-serif'; 
    // font-family: 'Rubik', sans-serif;
    list-style: none;
    text-decoration: none;
    color: #1f2f2f;
}

html, body, ol, ul{
    margin: 0; padding: 0;
}

.clear{
    clear: both;
}

.none{
    display: none;
}




.container{
    display: block;
    margin: 0 auto;
    padding: 1%;
    width: 98%;
    max-width: 980px;
}


.pagecard{
    h1.pgtt{
        font-size: 22px;
        line-height: 30px;
        font-weight: bold;
    }
    h1.pgtt.big{
        font-size: 28px;
        border-bottom: 2px #999 solid;
        padding-bottom: 20px;
    }

}


a.button{
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    background: dodgerblue;
    color: #fff;
    line-height: 14px;
    height: 14px;
    padding: 8px 16px;
    border-radius: 4px;
    &:hover{
        box-shadow: 0 2px 10px rgba(0,0,0,0.4);
        cursor: pointer;
    }
    &:active{
        box-shadow: none;
        box-shadow: 0 4px 44px rgba(0,0,0,0.4);
    }
    i.ftico{
        display: inline-block;
        color: #fff;
        font-size: 14px;
        line-height: 14px;
        height: 14px;
        vertical-align: baseline;
        margin-right: 4px;
    }
}



@media screen and (max-width: 512px) {

.container{
    padding: 5%;
    width: 90%;
}

.pagecard{
    display: block !important;
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}



}


/* 黑暗背景 */
.darkbg{
    background: #1f2f2f;
}

/*  */
.darkhr{
    border-bottom: 1px #999 dotted;
}
.lighthr{
    border-bottom: 1px #d0d0d0 dotted;
}

a.dld{
    font-size: 14px;
    color: dodgerblue;
    text-decoration: underline;
}

p.p{
    margin: 12px 4px;
    font-size: 14px;
    line-height: 24px;
}



#quickstart{
    .lighthr;
    .pagecard{
        padding: 24px 0;
    }
    a.olwlt{
        background: darkorange;
    }
    a.cmdtl{
        margin-left: 20px;
        background: darkcyan;
    }
}


#minernode{
    .pagecard{
        .lighthr;
        padding-bottom: 24px;
    }
    .miner_nav {
        margin-top: 50px;
        font-size: 14px;
        color: #888;
        padding: 5px 10px;
        border: #ddd dotted 1px;
        a{
            font-size: 14px;
            color: dodgerblue;
            text-decoration: underline;
        }
    }

    img.cutwrap{
        margin: 30px 0;
        border: 4px #999 solid;
        padding: 10px;
        box-shadow: 4px 4px 30px #999;
        max-width: 90%;
    }
    span.val{
        background: #ddd;
        font-size: 14px;
        padding: 0 4px;
        border-radius: 4px;
    }
    p.notice{
        color: orangered;
    }
    .down.windows{
        background: dodgerblue;
        border-radius: 100px;
    }
    .down.ubuntu{
        background: coral;
        border-radius: 100px;
    }
}


@media screen and (max-width: 512px) {


#intro{
    .container{
        padding-top: 0;
        padding-bottom: 0;
    }
    .logo{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .info{
        .lighthr;
        text-align: center;
        padding-bottom: 30px;
        h1{
            margin-bottom: 10px;
            span{
                display: block;
                margin: 0;
                margin-bottom: 10px;
            }
        }
        .btns{
            .l{
                display: block;
                margin: auto;
                margin-bottom: 20px;
                width: 174px;
            }
            .z{
                margin: 0;
            }
        }
    }
}

#mainnet{
    .status{
        display: block;
        padding: 20px;
        text-align: center;
    }
}

#joinus{
    .lighthr;
    .qrcode{
        text-align: center;
        &>div{
            display: inline-block;
            margin: 0 !important;
            margin-top: 20px !important;
        }
    }
}

#detail{
    .item{
        border-bottom: #2e4646 1px dotted;
        text-align: center;
        margin-top: 30px;
        padding-bottom: 40px;
    }
    .item.end{
        border: none;
        padding-bottom: 10px;
    }
}

}









