
.container{ max-width: 1200px; }

#starbg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
}

#pgtt.nav {
    .bgt {
        height: 40px;
        background-image: linear-gradient(to top, #161928, #273b56);
    }
    .ct {
        z-index: 3;
        display: block;
        position: absolute;
        width: 100%;
        height: 50px;
        left: 0;
        bottom: 40px;
        background: url(/cssimg/navdoc/citysd.png) repeat-x;
        background-size: contain;
        opacity: 1;
    }
    .box {
        padding: 100px 0 80px;
    }
    .h, .p {
        text-shadow: 1px 1px 1px #000;
    }
    .h {
        font-size: 44px;
    }
    .p {
        font-size: 20px;
        color: #46bbbb;
    }

}


#mdcon pre.nav {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 40px 0;

    @bdclr: #836033;

    .nit {
        transition: all 0.25s linear;
        text-decoration: none;
        margin: 1.5% 0;
        width: 31%;
        text-align: center;
    }
    .box {
        transform: scale(1);
        transition: all 0.1s linear;
        position: relative;
        box-shadow: 3px 3px 1px #965b0f33;
        height: 100%;
        border: 2px solid @bdclr;
        background: #00000000;
    }
    .cor {    
        display: none;
        position: absolute;
        right: -1px;
        bottom: -1px;
        width: 0;
        height: 0;
        border: 6px solid @bdclr;
        border-right-color: #fff;
        border-bottom-color: #fff;
    }
    .hdwp {
        overflow: hidden;
    }
    .hd {
        transition: all 1s linear;
        transform: scale(1);
        background-color: #fff;
        min-height: 67px;
        text-align: right;
    }
    .ftic {
        display: inline-block;
        transition: all 1s linear;
        // margin: 10% 0;
        font-size: 56px;
        color: #fff;
        margin-right: 5px;
        opacity: 0.5;
        // text-shadow: 2px 2px 0px #00000033;

    }
    .text {
        border-top: 1px solid #ddd;
        // background-color: #fff;
        padding: 14px;
        text-align: left;
    }
    .h {
        display: block;
        transition: all 1s;
        font-size: 20px;   
        color: #555;
        margin-bottom: 14px;
    }
    .p {
        display: block;
        transition: all 1s;
        // margin: 6% 5% 10%;
        white-space: wrap;
        font-size: 15px;  
        color: #999; 
        white-space: break-spaces;
        word-break: break-all;
    }
    .box:hover {
        border-color: #aaa;
        background: #00000006;
        box-shadow: 2px 2px 20px #00000033;
        transform: scale(1.04);
        cursor: pointer;
        .h {
            color: #000;
        }
        .p {
            color: #444;
        }
        .hd {
            transform: scale(1.2);
        }
        .ftic {
            opacity: 1;
            margin-right: 30px;
            text-shadow: 0 0 60px #fff, 0 0 40px #fff, 0 0 20px #fff;
        }
        .cor {
            display: none;
        }
    }
}



@media screen and (max-width: 640px) {


    #starbg, #tpbg {
        display: none;
    }
    #pgtt.nav {
        .bgt {
            display: none;        
        }
        .ct {
            display: none;  
        }
        
    }

    #mdcon pre.nav {
        display: block;
        margin: 20px 0;
        .nit {
            display: block;
            margin: 20px 0;
            width: auto;
        }
        .box {
        }

    }


}

