
<div id="atcs">
    <div class="container">
        <div class="pagecard">
            <h1 class="pgtt big">Hacash Articles & News</h1>
            <p class="p">Collect and organize some articles and news reports that can help you understand hacash.</p>
            <h1 class="pgtt">English:</h1>

            <div class="atcs">
                        
                <a class="item" href="https://www.youtube.com/watch?v=ABrxpALsNPE" target="_blank">
                    <p class="t video">What is Hacash? By Trevor</p>
                    <p class="meta">[YouTube]<i class="time">April 24, 2022 · 8 min look</i></p>
                    <div class="clear"></div>
                </a>

                <a class="item" href="https://www.youtube.com/watch?v=zXo9E3hxDGo" target="_blank">
                    <p class="t video">What is Hacash? Money, Payment and Store of Value</p>
                    <p class="meta">[YouTube]<i class="time">April 24, 2022 · 8 min look</i></p>
                    <div class="clear"></div>
                </a>

                <a class="item" href="https://www.youtube.com/watch?v=SOwL6buMfeg" target="_blank">
                    <p class="t video">What is HACD (Hacash Diamond Explained in Two Minutes) ?</p>
                    <p class="meta">[YouTube]<i class="time">April 24, 2022 · 8 min look</i></p>
                    <div class="clear"></div>
                </a>
                        
                <a class="item" href="https://kenyou.medium.com/what-is-hacash-52bcd7b438ea" target="_blank">
                    <p class="t">What is Hacash? by KenYou</p>
                    <p class="meta">[Medium]<i class="time">Sep 14, 2020 · 9 min read</i></p>
                    <div class="clear"></div>
                </a>
                <a class="item" href="https://vaibhavc.medium.com/hacash-an-open-source-encryption-project-with-monetary-as-its-core-target-c11c03188f1d" target="_blank">
                    <p class="t">Hacash : An Open source Encryption Project with “Monetary” as its Core Target</p>
                    <p class="meta">[Medium]<i class="time">Jan 25, 2021 · 15 min read</i></p>
                    <div class="clear"></div>
                </a>
                <a class="item" href="https://hacashtalk.com/t/why-is-hacd-an-encrypted-asset-which-is-more-scarce-suitable-for-wealth-storage-than-btc/65" target="_blank">
                    <p class="t">Why is HACD an encrypted asset which is more scarce & suitable for wealth storage than BTC?</p>
                    <p class="meta">[Hacashtalk]<i class="time">Jan 21, 2021 · 13 min read</i></p>
                    <div class="clear"></div>
                </a>
                <a class="item" href="https://hacashtalk.com/t/why-hacash-is-better-than-bitcoin/48" target="_blank">
                    <p class="t">Why Hacash is better than Bitcoin?</p>
                    <p class="meta">[Hacashtalk]<i class="time">Dec 29, 2020 · 19 min read</i></p>
                    <div class="clear"></div>
                </a>
                <a class="item" href="https://hackernoon.com/pow-based-nfts-in-2021-a-comparison" target="_blank">
                    <p class="t">PoW-Based NFTs in 2021: A Comparison</p>
                    <p class="meta">[Hackernoon]<i class="time">Oct 15, 2021 · 4 min read</i></p>
                    <div class="clear"></div>
                </a>
                <a class="item" href="https://hackernoon.com/why-pow-nfts-are-the-next-blue-chip-nft-collections" target="_blank">
                    <p class="t">Why PoW NFTs are the Next Blue-Chip NFT Collections</p>
                    <p class="meta">[Hackernoon]<i class="time">April 5, 2022 · 8 min read</i></p>
                    <div class="clear"></div>
                </a>
                <a class="item" href="https://nftplazas.com/hacash-diamond-proof-of-work-nfts/" target="_blank">
                    <p class="t">Hacash Diamond Brings Proof of Work NFTs Into the Fold</p>
                    <p class="meta">[NFTplazas]<i class="time">April 7, 2022 · 3 min read</i></p>
                    <div class="clear"></div>
                </a>
                <a class="item" href="https://nfthours.com/13-reasons-why-the-historic-pow-nft-hacash-diamond-a-worthy-collectible/" target="_blank">
                    <p class="t">13 Reasons Why the Historic PoW NFT Hacash Diamond a Worthy Collectible</p>
                    <p class="meta">[NFThours]<i class="time">April 21, 2022 · 5 min read</i></p>
                    <div class="clear"></div>
                </a>
                <a class="item" href="https://www.nftradar.org/powering-pow-nfts-to-become-the-next-blue-chip-nft-collection/" target="_blank">
                    <p class="t">Powering PoW NFTs to become the next blue chip NFT collection, Hacash Diamonds launches HACD exchange</p>
                    <p class="meta">[NFThours]<i class="time">April 20, 2022 · 3 min read</i></p>
                    <div class="clear"></div>
                </a>
                <a class="item" href="https://hackernoon.com/top-4-directions-of-bitcoin-ecosystem-scalability" target="_blank">
                    <p class="t">Top 4 Directionsof Bitcoin Ecosystem Scalability</p>
                    <p class="meta">[Hackernoon]<i class="time">May 2, 2023 · 4 min read</i></p>
                    <div class="clear"></div>
                </a>
                
                
            </div>



            <h1 class="pgtt">Chinese:</h1>

            <div class="atcs">
                        
                <a class="item" href="https://medium.com/p/13e232ea146f" target="_blank">
                    <p class="t">五分钟了解 Hacash：一个以“货币性”为核心目标的加密项目</p>
                    <p class="meta">[Medium]<i class="time">2020年12月10日 · 15分钟阅读</i></p>
                    <div class="clear"></div>
                </a>
                <a class="item" href="https://medium.com/p/76252ecae3a5" target="_blank">
                    <p class="t">一文读透：为什么HACD是比BTC稀缺性更强更适合财富储存的加密资产？</p>
                    <p class="meta">[Medium]<i class="time">2021年1月17日 · 12分钟阅读</i></p>
                    <div class="clear"></div>
                </a>
                <a class="item" href="https://medium.com/p/e7582e4faaa5" target="_blank">
                    <p class="t">从货币理论上细看为何 HAC 将成为大规模支付结算货币</p>
                    <p class="meta">[Medium]<i class="time">2021年1月24日 · 8分钟阅读</i></p>
                    <div class="clear"></div>
                </a>
                <a class="item" href="https://medium.com/p/90147acbbe94" target="_blank">
                    <p class="t">从HAC的价值稳定性设计和通道链技术看大规模支付结算加密货币的未来</p>
                    <p class="meta">[Medium]<i class="time">2021年3月25日 · 10分钟阅读</i></p>
                    <div class="clear"></div>
                </a>
                <a class="item" href="https://mp.weixin.qq.com/s?__biz=Mzg4NDY3NTY5NA==&mid=2247483746&idx=1&sn=c9aa15aa04a7070a44b6851a0ee8a2fa" target="_blank">
                    <p class="t">加密货币的前世今生：从非对称加密到比特币继承者 Hacash</p>
                    <p class="meta">[HacashDiamonds中文站]<i class="time">2021年10月9日 · 30分钟阅读</i></p>
                    <div class="clear"></div>
                </a>
                <a class="item" href="https://medium.com/p/7d733169dbd0" target="_blank">
                    <p class="t">从三个不可能三角看Hacash的核心叙事逻辑</p>
                    <p class="meta">[Medium]<i class="time">2022年8月29日 · 10分钟阅读</i></p>
                    <div class="clear"></div>
                </a>
                <a class="item" href="https://www.odaily.news/post/5172542" target="_blank">
                    <p class="t">从天价图片到天价文字，NFT的究极形态是什么？</p>
                    <p class="meta">[星球日报]<i class="time">2021年9月13日 · 5分钟阅读</i></p>
                    <div class="clear"></div>
                </a>
                <a class="item" href="https://www.odaily.news/post/5173426" target="_blank">
                    <p class="t">目前市场基于PoW机制的NFT项目比较</p>
                    <p class="meta">[星球日报]<i class="time">2021年10月19日 · 3分钟阅读</i></p>
                    <div class="clear"></div>
                </a>
                <a class="item" href="https://medium.com/p/e0e74a2ffc3f" target="_blank">
                    <p class="t">13个原因说明 HACD 钻石是非常值得收藏的历史性NFT</p>
                    <p class="meta">[Medium]<i class="time">2022年4月26日 · 7分钟阅读</i></p>
                    <div class="clear"></div>
                </a>
                <a class="item" href="https://www.chaincatcher.com/article/2092533" target="_blank">
                    <p class="t">盘点比特币生态扩容的四大方向（Hacash单向转移型）</p>
                    <p class="meta">[链捕手]<i class="time">2023年5月5日 · 4分钟阅读</i></p>
                    <div class="clear"></div>
                </a>


                
            </div>


        </div>
    </div>
</div>