@font-face {
  font-family: 'Imbue';
  src: url('/font/Imbue.woff2?1');
}
* {
  border: none;
  padding: 0;
  margin: 0;
  font-family: 'Imbue', serif, Helvetica, Tahoma, Arial, "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
  font-size: 16px;
  list-style: none;
  text-decoration: none;
  outline: none;
}
input,
textarea {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html {
  background-color: #f6f6f6;
}
body {
  background-color: #f6f6f6;
}
html,
body,
ol,
ul {
  margin: 0;
  padding: 0;
}
.clear {
  clear: both;
  float: none;
}
.none {
  display: none;
}
input,
textarea {
  display: block;
  padding: 10px;
  border: 1px solid #bbb;
  margin: 20px 0;
  width: 400px;
}
textarea {
  width: 600px;
  height: 100px;
}
button {
  padding: 10px 15px;
  background-color: salmon;
  color: white;
  font-weight: bold;
  margin: 10px 0;
  cursor: pointer;
}
button.blue {
  background-color: #3a70d3;
}
button.red {
  background-color: #d33c16;
}
.container {
  margin: 0 auto;
  max-width: 880px;
}
/* header.less */
@font-face {
  font-family: 'fontello';
  src: url('/font/font/fontello.eot?1166977');
  src: url('/font/font/fontello.eot?1166977#iefix') format('embedded-opentype'), url('/font/font/fontello.woff?1166977') format('woff'), url('/font/font/fontello.ttf?1166977') format('truetype'), url('/font/font/fontello.svg?1166977#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
i.ftico {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  vertical-align: middle;
  text-decoration: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
}
@font-face {
  font-family: 'hacash';
  src: url('/font/hacash.ttf?1166977');
  font-weight: normal;
  font-style: normal;
}
.fthac {
  font-family: "hacash";
  text-align: center;
}
#topbar {
  user-select: none;
  transition: top 0.3s ease-out;
  top: 0;
  z-index: 100;
  display: block;
  position: fixed;
  margin: 0;
  padding: 1px;
  background-color: #111;
  width: 100%;
}
#topbar * {
  transition: all 0.25s ease-out;
  color: whitesmoke;
}
#topbar .container {
  padding: 1px;
}
#topbar .box {
  transition: margin 0.25s ease-out;
  margin: 8px 5px;
  height: 30px;
}
#topbar .logoft {
  float: left;
  cursor: pointer;
}
#topbar .logoft b {
  display: inline-block;
  line-height: 30px;
  height: 30px;
  color: #ffffffbb;
}
#topbar .logoft .hacash {
  font-weight: bold;
  font-size: 22px;
}
#topbar .logoft .tblG {
  transition: all 0.25s;
  position: relative;
  top: -1px;
  font-size: 22px;
  font-weight: normal;
  margin-right: 5px;
}
#topbar .navs {
  display: block;
  float: right;
  height: 30px;
  line-height: 30px;
}
#topbar .itembr {
  vertical-align: middle;
  display: inline-block;
  height: 30px;
}
#topbar .itembr b {
  display: block;
  font-weight: normal;
  height: 20px;
  margin: 5px 10px;
  border-left: 1px #ffffff66 solid;
}
#topbar .item {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  margin: 0 5px;
}
#topbar .item .lk,
#topbar .item .b {
  display: block;
  line-height: 30px;
  height: 30px;
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
}
#topbar .item .lk:hover {
  color: #7d7804;
}
#topbar .item .lk:hover i {
  color: #7d7804;
}
#topbar .item .b {
  color: #ffffff;
}
#topbar .item .b::after {
  content: "\e807";
  margin-left: 5px;
  font-family: "fontello";
}
#topbar .item .b i {
  font-weight: normal;
}
#topbar .item .b.nt::after {
  content: "";
}
#topbar .item .swt {
  transition: all 0.25s ease-out;
  position: absolute;
  right: 0;
  top: 29px;
  min-width: 128px;
  display: none;
  background: #222;
  border-top: 1px solid #7d7804;
}
#topbar .item .swt li a {
  display: block;
  text-align: right;
  padding: 5px 20px;
  line-height: 30px;
  height: 30px;
  cursor: pointer;
  white-space: nowrap;
  font-weight: normal;
}
#topbar .item .swt li a:hover {
  background-color: #00000022;
  color: #7d7804;
}
#topbar .item:hover .b {
  color: #7d7804;
}
#topbar .item:hover .b i {
  color: #7d7804;
}
#topbar .item:hover .b::after {
  content: "\e80a";
}
#topbar .item:hover .b.nt::after {
  content: "";
}
#topbar .item:hover .swt {
  display: block;
}
#topbar .mbuf {
  display: none;
  position: fixed;
  right: 0px;
  top: 0;
  width: 100%;
}
#topbar .mbuf b.fthac {
  position: absolute;
  right: 40px;
  top: 4px;
  padding: 4px 15px 8px ;
  background-color: #000000cc;
  border-radius: 0 0 12px 12px;
  font-size: 20px;
}
#topbar .mbuf .tline {
  width: 100%;
  height: 4px;
  background-color: #000000cc;
}
#topbar.hide {
  top: -51px;
}
@media screen and (max-width: 640px) {
  #topbar {
    position: relative;
    padding: 1px 0;
    height: auto;
  }
  #topbar .mbuf {
    display: block;
  }
  #topbar .box {
    display: block;
    margin: 10px 0;
    height: auto !important;
    padding: 1px;
  }
  #topbar .logoft b {
    font-weight: normal !important;
    color: darkcyan;
  }
  #topbar .logoft,
  #topbar .navs {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
  }
  #topbar .navs {
    padding-top: 10px;
  }
  #topbar .item {
    margin: 0;
    padding: 0 5px;
  }
  #topbar.hide {
    top: 0;
  }
}
/* index.less */
.pgtitlebl {
  display: block;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
}
.pgtitlebl h1 {
  font-size: 33px;
  line-height: 40px;
  font-weight: normal;
}
.pgtitlebl .brl {
  position: relative;
  display: inline-block;
  border-top: 1px #333 solid;
  width: 150px;
  line-height: 3px;
  height: 3px;
}
.pgtitlebl .brl b {
  display: block;
  position: absolute;
  top: -2px;
  left: 50px;
  width: 50px;
  height: 3px;
  background-color: #111;
}
#screen {
  transition: all 0.4s;
  background-color: #161616;
  color: whitesmoke;
  padding: 200px 0 100px 0;
}
#screen .video {
  transition: all 0.4s;
  opacity: 0;
  margin: auto;
  width: 600px;
  height: 340px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 30px;
}
#screen .video .vcon,
#screen .video iframe {
  width: 100%;
  height: 100%;
}
#screen .video .close {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 100px;
  border: 1px solid #fff;
  background-color: #00000099;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
#screen .con {
  display: block;
  width: 660px;
  height: 340px;
  margin: auto;
  position: relative;
  text-align: center;
}
@keyframes opacityLoop {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}
#screen .con h1.slg {
  z-index: 2;
  transition: all 0.4s;
  position: absolute;
  top: 120px;
  width: 100%;
  color: #fff;
  font-size: 60px;
  height: 60px;
  line-height: 60px;
}
#screen .con .name {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 50px 0;
  z-index: 1;
  transition: opacity 1.2s;
  opacity: 0;
  font-size: 300px;
  color: #222;
  height: 240px;
  line-height: 240px;
}
#screen .con .name.ani {
  opacity: 0;
}
#screen .con .info {
  z-index: 2;
  transition: all 0.4s;
  position: absolute;
  width: 100%;
  bottom: 120px;
  font-size: 20.4px;
  color: darkcyan;
}
#screen .con .learn {
  z-index: 10;
  position: absolute;
  top: 140px;
  width: 100%;
  height: 60px;
  opacity: 0;
  transition: all 3s;
  text-align: center;
  overflow: hidden;
}
#screen .con .learn a {
  user-select: none;
  transition: all 0.48s;
  position: absolute;
  display: block;
  padding: 16px 0;
  left: 50%;
  margin-left: -110px;
  width: 220px;
  border: 1px solid #333;
  cursor: pointer;
  background-color: #ffffff0f;
}
#screen .con .learn a.next {
  width: 40px;
  height: 40px;
  padding: 0;
  font-size: 20px;
  line-height: 40px;
  left: auto;
  top: 10px;
  right: 25px;
  border-radius: 100px;
  border-color: transparent;
}
#screen .con .learn a.hide {
  opacity: 0;
}
#screen .con .learn a.hide.left {
  left: -200px;
}
#screen .con .learn a.hide.right {
  left: 800px;
}
#screen .con .learn i,
#screen .con .learn b {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: top;
  color: #ddd;
}
#screen .con .learn.show {
  opacity: 1;
}
#screen .con .learn a:hover {
  background-color: #ffffff22;
  border-color: #888;
}
#screen .con .learn a:hover i,
#screen .con .learn a:hover b {
  color: #ddd;
}
#screen .links {
  margin-top: 80px;
  text-align: center;
}
#screen .links a {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid transparent;
  color: #ffffff66;
}
#screen .links a:hover {
  background-color: #00000099;
  border-color: #ffffff33;
  color: #fff;
}
#screen .links b {
  font-size: 22px;
  color: inherit;
  font-weight: normal;
}
#screen.show .con h1.slg {
  top: -10px;
}
#screen.show .con .name {
  opacity: 1;
}
#screen.show .con .name.ani {
  animation: opacityLoop 2s infinite linear;
}
#screen.show .con .info {
  opacity: 1;
  bottom: 30px;
}
#screen.video .con h1.slg {
  top: -75px;
}
#screen.video .con .info {
  bottom: -35px;
}
#screen.video .con .name {
  display: none;
  opacity: 0;
  height: 0px;
}
#screen.video .video {
  display: block;
}
#screen.video .video.show {
  opacity: 1;
}
#traits {
  padding: 50px 0 0 0;
}
#traits .img a {
  display: block;
}
#traits .img img {
  display: block;
  width: 100%;
  filter: grayscale(100%);
}
#traits .note {
  text-align: center;
}
#traits .note p {
  font-size: 20px;
  margin-top: 25px;
}
#traits .note p b {
  font-size: inherit;
}
#detail {
  padding: 50px 0 0 0;
}
#detail .intxt {
  margin-top: 20px;
  font-size: 20px;
  text-align: left;
}
#detail table.itwrap {
  margin: 40px auto;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #666;
}
#detail table.itwrap th,
#detail table.itwrap td {
  vertical-align: top;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #666;
  padding: 20px;
}
#detail table.itwrap .ico .ftico {
  font-size: 30px;
}
#detail .item h5 {
  font-size: 20px;
  line-height: 25px;
  min-height: 50px;
  margin: 10px 0;
  font-weight: bold;
}
#detail .item p {
  font-size: 16px;
}
#news {
  padding: 50px 0 0 0;
}
#news .item {
  display: block;
  padding: 15px 0;
  clear: both;
}
#news .item p {
  font-size: 20px;
  color: #161616;
  line-height: 20px;
}
#news .item p i {
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}
#news .item p.t {
  float: left;
}
#news .item p.t::before {
  content: "➟ ";
}
#news .item p.meta {
  float: right;
  font-size: 16px;
}
#news .item:hover {
  background-color: #eee;
}
#news .item:hover p.t {
  text-decoration: underline;
}
@media screen and (max-width: 640px) {
  #news {
    padding: 0px 0 0 0;
  }
  #news .item {
    padding: 10px;
  }
  #news .item p {
    display: block !important;
    float: none !important;
  }
  #news .item p.meta {
    color: #888;
  }
  #traits {
    padding: 0px 0 0 0;
  }
  #traits .note {
    text-align: center;
  }
  #traits .note p {
    font-size: 18px;
    margin: 20px 5px;
  }
  #detail {
    padding: 0px 0 0 0;
  }
  #detail .intxt {
    margin: 20px 10px;
  }
  #detail table.itwrap {
    display: block;
    border: none;
  }
  #detail table.itwrap td {
    display: block;
    border: none;
    padding: 10px;
    text-align: center;
  }
  #detail .item h5 {
    min-height: auto;
  }
  #screen {
    padding: 80px 0 80px 0;
  }
  #screen .video {
    width: 100%;
    height: 300px;
  }
  #screen .links {
    margin: 40px 0 0 0;
  }
  #screen .links a {
    margin: 0;
    padding: 10px;
  }
  #screen .con {
    width: 100%;
    padding: 20px 0;
    height: auto;
  }
  #screen .con h1.slg {
    position: static;
    font-size: 60px;
    line-height: 60px;
    height: auto;
  }
  #screen .con .name {
    position: static;
    padding: 0;
    font-size: 160px;
    height: 160px;
    line-height: 160px;
  }
  #screen .con .learn {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 50px 0 60px 0;
  }
  #screen .con .learn a.next {
    top: 120px;
    right: auto;
    left: 50%;
    margin-left: -21px;
  }
  #screen .con .video {
    position: relative;
    height: 0;
    top: 0;
    left: 0;
  }
  #screen .con .video .close {
    top: 100px;
    right: 10px;
  }
  #screen .con .info {
    position: static;
    font-size: 20.4px;
    opacity: 0;
  }
  #screen.video .video {
    margin-top: 40px;
    height: 300px;
  }
  #screen.video .info {
    opacity: 0;
  }
}
#footer {
  position: relative;
  margin-top: 100px;
  background-color: #0f0f0f;
}
#footer * {
  color: #fff;
}
#footer .bgcvr {
  padding-top: 100px;
}
#footer .btlogo {
  display: block;
  position: absolute;
  top: -41.5px;
  left: 50%;
  margin-left: -41.5px;
  width: 83px;
  height: 83px;
}
#footer .btlogo .wrap {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 83px;
  height: 41.5px;
  overflow: hidden;
}
#footer .btlogo .box {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #0f0f0f;
  padding: 7.5px;
  border-radius: 100%;
  width: 68px;
  height: 68px;
}
#footer .btlogo .wrap.b {
  top: 41.5px;
}
#footer .btlogo .wrap.b .box {
  top: auto;
  bottom: 0;
}
#footer .btlogo b {
  display: block;
  width: 68px;
  height: 68px;
  background: #f7f7f7;
  text-align: center;
  border-radius: 100%;
}
#footer .btlogo i {
  color: #0f0f0f;
  font-size: 51px;
  line-height: 68px;
  font-style: normal;
}
#footer .btlogo .wrap.b .box {
  background-color: #f7f7f7;
}
#footer .btlogo .wrap.b b {
  background-color: #0f0f0f;
}
#footer .btlogo .wrap.b i {
  color: #f7f7f7;
}
#footer .left,
#footer .right {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  padding: 20px 0;
}
#footer .left .addr {
  padding-top: 20px;
}
#footer .left a {
  font-size: 15px;
  text-decoration: underline;
  color: #3490E6;
}
#footer .right .ttl {
  font-style: italic;
  font-size: 16px;
  color: #888;
  margin-bottom: 14px;
}
#footer .right p a {
  text-decoration: underline;
  color: #3490E6;
}
#footer .right p i {
  font-size: 14px;
  color: #888;
  font-style: italic;
  padding-left: 20px;
}
#footer .bottom {
  margin-top: 50px;
  padding: 14px 0;
  background-color: #000;
  line-height: 24px;
  height: 24px;
}
#footer .bottom * {
  color: #888;
  line-height: 24px;
  height: 24px;
}
#footer .bottom .cprt {
  float: left;
}
#footer .bottom .status {
  display: block;
  float: right;
  cursor: pointer;
}
#footer .bottom .status .ltb {
  FONT-SIZE: 12PX;
  display: inline-block;
  background: seagreen;
  border-radius: 4px;
  padding: 0 10px;
  margin-left: 10px;
  color: #fff;
}
#footer .bottom .status:hover {
  color: #fff;
}
#footer .bottom .status:hover .ltb {
  background: #2faa65;
}
@media screen and (max-width: 640px) {
  #footer .left,
  #footer .right {
    display: block;
    width: auto;
    padding: 10px;
    margin: 0;
  }
  #footer .bgcvr {
    background: none !important;
    padding-top: 100px !important;
  }
  #footer .bottom {
    height: auto;
    text-align: center;
  }
  #footer .bottom p,
  #footer .bottom a {
    display: block !important;
    float: none !important;
    height: auto !important;
  }
  #footer .container {
    height: auto;
  }
}
