html, body {
    background-color: #fff;
}

.container {
    max-width: 1200px;
}



#topbar {
    position: relative;
}



.randbar {
    // background-color: @themegoldcolor;
    // min-height: 200px;
    overflow: hidden;
    width: 100%;
    .bgc {
        overflow: hidden;
        // height: 200px;
        width: 4000px;
        // position: absolute;
        position: relative;
        top: 0;
        left: 50%;
        margin-left: -2000px;
        // background-color: aqua;
    }
}



#screen {
    padding: 100px 0;
    text-align: center;

    .box {
        display: flex;
        // justify-content: left;
        align-items: center;
        &>.empty {
            flex: 1;
        }
    }

    .what {
        padding-left: 20px;
        text-align: left;
        h1 {
            color: #000;
            &, *{
                font-size: 36px;
            }
        }
    }
    .intro {
        position: relative;
        text-decoration: underline;
        color: #493903;
        @keyframes blink{
            0%{opacity: 1;}               
            50%{opacity: 0;}     
            100%{opacity: 0.5;} 
          }
          
        &::after{
            animation: blink 1s linear infinite; 
            position: absolute;
            top: 12px;
            right: -20px;
            content: "";
            height: 22px;
            width: 8px;
            // background-color: @themegoldcolor;
            background-color: #000;
        }
    }
    .desc {
        margin-top: 20px;
        font-size: 18px;
    }
    .logo {
        img {
            display: block;
            height: 120px;
            transform: rotate(17deg);
        }
    }
    .cvimgs {
        position: relative;
        width: 300px;
        height: 200px;
        // background-color: #eee;
        // border: 1px solid #f7af34;
        img {
            position: absolute;
            top: 10px;
            left: -20px;
            background-color: #00000011;
            padding: 6px;
            border: 1px solid @themegoldcolor;
            height: 100px; 
            transform: skewX(-15deg) rotate(20deg);
        }
        .i2 {
            top: 90px;
        }
        .i3 {
            top: 50px;
            left: 150px;
        }
    }
}


