<div class="randbar">
    <div id="tpbg" class="bgc"></div>
</div>


<div id="screen">
    <div class="container"><div class="box">

        <div class="logo">
            <div class="shadow none"></div>
            <img class="rlgs away" src="/cssimg/hacash_logo.svg" />
        </div>
        <div class="what">
            [: if(lang.useset == 'zh_CN'){ :]
            <h1>Hacash是<span class="intro" intros="加密健全货币|工作量证明NFT|比特币的继承者">加密健全货币</span></h1>
            [:}else{:]
            <h1>Hacash is <span class="intro" intros="Crypto Sound Money|PoW NFT|Inheritors of Bitcoin">Crypto Sound Money</span></h1>
            [:}:]
            <p class="desc">A peer-to-peer of Money, Payment, Store of Value, DeFi and DApp Infrastructure.</p>
        </div>
        <div class="empty"></div>
        <div class="cvimgs">
            <div class="cvbg"></div>
            <img class="i1" src="/cssimg/index/l3.jpg" />
            <img class="i2" src="/cssimg/index/l1.jpg" />
            <img class="i3" src="/cssimg/index/l2.jpg" />
        </div>

    </div></div>
</div>


<div class="randbar">
    <div id="btbg" class="bgc"></div>
</div>



