<div class="randbar">
    <div id="tpbg" class="bgc t"></div>
</div>


<div id="screen">
    <div class="container"><div class="box">

        <div class="logo">
            <div class="shadow none"></div>
            <img class="rlgs away" src="/cssimg/hacash_logo.svg" />
        </div>
        <div class="what">
            [: if(lang.useset == 'zh_CN'){ :]
            <h1>Hacash是<span class="intro" intros="加密健全货币|工作量证明NFT|比特币的继承者">加密健全货币</span></h1>
            [:}else{:]
            <h1>Hacash is <span class="intro" intros="Crypto Sound Money|PoW NFT|Inheritors of Bitcoin">Crypto Sound Money</span></h1>
            [:}:]
            <p class="desc">A peer-to-peer of Money, Payment, Store of Value, DeFi and DApp Infrastructure.</p>
            <div class="btns">
                <a class="play f" href="https://www.youtube.com/watch?v=zXo9E3hxDGo" target="_blank"><u class="ftic">&#xe617; What is Hacash?</u></a>
                <a class="play" href="https://www.youtube.com/watch?v=SOwL6buMfeg" target="_blank"><u class="ftic">&#xe617; What is HACD?</u></a>
            </div>
        </div>
        <div class="empty"></div>
        <div class="cvimgs">
            <div class="cvbg"></div>
            <img class="i1" src="/cssimg/index/l3.jpg" />
            <img class="i2" src="/cssimg/index/l1.jpg" />
            <img class="i3" src="/cssimg/index/l2.jpg" />
        </div>

    </div></div>
</div>


<div class="randbar">
    <div id="btbg" class="bgc b"></div>
</div>


<div id="quick">
    <div class="container">
        <div class="cvits">
            <div><a class="item" title="Click to know more">
                <div class="ftic">&#xe69e;</div>
                <h3>Mining</h3>
            </a></div>
            <div><a class="item" title="Click to know more">
                <div class="ftic">&#xe6f9;</div>
                <h3>Buy</h3>
            </a></div>
            <div><a class="item" title="Click to know more">
                <div class="ftic">&#xe678;</div>
                <h3>Develop</h3>
            </a></div>
        </div>
        <div class="ktops">
            <div><a href="https://wallet.hacash.org" class="opt" target="_blank">
                <div><span class="ftic">&#xe76e;</span><span>Choose your wallet</span></div>
            </a></div>
            <div><a href="https://explorer.hacash.org" class="opt" target="_blank">
                <div><span class="ftic">&#xf2fb;</span><span>Explore blockchain</span></div>
            </a></div>
        </div>
    </div>
    <div class="next"><u>⇣</u></div>
</div>


<div id="intro">
    <div class="container">
        <div class="pttl"><h1>Hacash: Three Coins & Three Layers Structure</h1></div>
        <div class="box">
            <div><div class="text">
                <h3 class="t1 f">3 PoW Coins At One Chain Form <br/>A Sound Money System</h3>
                <p>HAC, BTC, and HACD are 3 PoW coins that are not pre-mined and have different money qualities. The three coins form the Hacash monetary system. It fulfills the function of cryptocurrency in large-scale payment and store value. All 3 coins are fairly distributed, no pre-mined and without any centralized management.</p>
                <h3 class="t2">3 Layers Architecture Supports <br/>A Large Economic System</h3>
                <p>Hacash's white paper covers a more decentralized and secure Layer 2 than the Lightning Network and supports both BTC and HAC. Layer 3 on top of Hacash layers 1 & 2 supports scalable multi-chains and applications. It brings sound currency Hacash to flow into the daily economy.</p>
            </div></div>
            <div><div class="logo"><img src="/cssimg/index/3layer.png" /></div></div>
        </div>
        <div class="more">
            <div class="btn"><button class="">Learn more about Hacash</button></div>
            
        </div>
    </div>

</div>
