
<div id="screen" class=""><div class="container">


    <div class="con">
        <h1 class="slg [:=lang.useset:]">[:=lang.index.screen.slg:]</h1>
        <div class="name">
            <img class="logo" src="/cssimg/hacash_sign.svg" />
            <p>[:=lang.index.screen.name:]</p>
        </div>
        <div class="video">
            <div class="vcon">

            </div>
            <div class="close" title="Close video">×</div>
        </div>    
        <p class="info [:=lang.useset:]">[:=lang.index.screen.info:]</p>
        <div class="learn">
            <a class="svbtn" vinfo="ABrxpALsNPE" title="Watch Youtube video to learn Hacash"><i class="ftico"></i><b>[:=lang.index.screen.learn:]</b></a>
            <a class="svbtn hide right" vinfo="zXo9E3hxDGo" title="Watch Youtube video to know What is Hacash"><i class="ftico"></i><b>[:=lang.index.screen.what:]</b></a>
            <a class="svbtn hide right" vinfo="SOwL6buMfeg" title="Watch Youtube video to know What is HACD"><i class="ftico"></i><b>[:=lang.index.screen.learnhacd:]</b></a>
            <a class="svbtn hide right" vinfo="yrsLmr1vNEQ" title="Watch Youtube video to know How to set up hacash wallet"><i class="ftico"></i><b>[:=lang.index.screen.setwlt:]</b></a>
            <a class="svbtn hide right" vinfo="b4sEqTmPBqk" title="Watch Youtube video to know How to check HAC&HACD balance and transfer"><i class="ftico"></i><b>[:=lang.index.screen.trshac:]</b></a>
            <a class="next" title="Next video">>></a>

        </div>
    </div>

    <div class="links">
        
        <a target="_blank" href="[:=lang.frame.pagelink.whitepaper:]"><b>➫ [:=lang.frame.topnav.whitepaper:]</b></a>
        <a target="_blank" href="https://wallet.hacash.org/"><b>➫ [:=lang.frame.topnav.wallet:]</b></a>
        <a target="_blank" href="/get_started"><b>➫ [:=lang.frame.topnav.mining:]</b></a>
        <a target="_blank" href="https://github.com/hacash/miner/blob/master/doc/software_release_log.md"><b>➫ [:=lang.frame.topnav.download:]</b></a>
    </div>

</div></div>


<a name="traits"></a>
<div id="traits"><div class="container">
    <div class="pgtitlebl">
        <h1>[:=lang.index.traits.title:]</h1>
        <div class="brl"><b></b></div>
    </div>
    <p class="img"><a href="[:=lang.index.traits.imgsrc:]" target="_blank"><img src="[:=lang.index.traits.imgsrc:]" /></a></p>
    <div class="note">
        <p>[:=lang.index.traits.note1:]</p>
        <p>[:=lang.index.traits.note2:]</p>
    </div>
</div></div>


<a name="start"></a>
<div id="start"><div class="container">

    <p class="tip">[:=lang.index.start.tip:]</p>

    <div class="btns">
        <a class="btn" href="/get_started" target="_blank">[:=lang.index.start.btn:]</a>
        <a class="btn light" href="/channel_wallet" target="_blank">[:=lang.index.start.chpay:]</a>
    </div>


</div></div>


<a name="detail"></a>
<div id="detail">
    <div class="container">

        <div class="pgtitlebl">
            <h1>[:=lang.index.what.intro.h1:]</h1>
            <div class="brl"><b></b></div>
        </div>
        <p class="intxt">[:=lang.index.what.intro.p1:]</p>
        <p class="intxt">[:=lang.index.what.intro.p2:]</p>
        <p class="intxt">[:=lang.index.what.intro.p3:]</p>
        <p class="intxt">[:=lang.index.what.intro.p4:]</p>

        <table class="itwrap" cellspacing="0" cellpadding="0">
            <tr>
                <td>
            <div class="pagecard item">
                <div class="ico">
                    <p class="pb">
                        <i class="ftico">&#xe800;</i>
                    </p>
                </div>
                <h5>[:=lang.index.what.items.h1:]</h5>
                <p>[:=lang.index.what.items.p1:]</p>
            </div>
                </td>
                <td>
            <div class="pagecard item">
                <div class="ico">
                    <p class="pb">
                        <i class="ftico">&#xf24e;</i>
                    </p>
                </div>
                <h5>[:=lang.index.what.items.h2:]</h5>
                <p>[:=lang.index.what.items.p2:]</p>
            </div>
                </td>
                <td>
            <div class="pagecard item right">
                <div class="ico">
                    <p class="pb">
                        <i class="ftico">&#xe801;</i>
                    </p>
                </div>
                <h5>[:=lang.index.what.items.h3:]</h5>
                <p>[:=lang.index.what.items.p3:]</p>
            </div>
                </td>
            </tr>
            <tr>
                <td>
            <div class="pagecard item">
                <div class="ico">
                    <p class="pb">
                        <i class="ftico">&#xf20e;</i>
                    </p>
                </div>
                <h5>[:=lang.index.what.items.h4:]</h5>
                <p>[:=lang.index.what.items.p4:]</p>
            </div>
                </td>
                <td>
            <div class="pagecard item">
                <div class="ico">
                    <p class="pb">
                        <i class="ftico">&#xf0e8;</i>
                    </p>
                </div>
                <h5>[:=lang.index.what.items.h5:]</h5>
                <p>[:=lang.index.what.items.p5:]</p>
            </div>
                </td>
                <td>
            <div class="pagecard item right">
                <div class="ico">
                    <p class="pb">
                        <i class="ftico">&#xe802;</i>
                    </p>
                </div>
                <h5>[:=lang.index.what.items.h6:]</h5>
                <p>[:=lang.index.what.items.p6:]</p>
            </div>
                </td>
            </tr>
            <tr>
                <td>
            <div class="pagecard item">
                <div class="ico">
                    <p class="pb">
                        <i class="ftico">&#xf219;</i>
                    </p>
                </div>
                <h5>[:=lang.index.what.items.h7:]</h5>
                <p>[:=lang.index.what.items.p7:]</p>
            </div>
                </td>
                <td>
            <div class="pagecard item">
                <div class="ico">
                    <p class="pb">
                        <i class="ftico">&#xf132;</i>
                    </p>
                </div>
                <h5>[:=lang.index.what.items.h8:]</h5>
                <p>[:=lang.index.what.items.p8:]</p>
            </div>
                </td>
                <td>
            <div class="pagecard item right end">
                <div class="ico">
                    <p class="pb">
                        <i class="ftico">&#xf1b3;</i>
                    </p>
                </div>
                <h5>[:=lang.index.what.items.h9:]</h5>
                <p>[:=lang.index.what.items.p9:]</p>
            </div>
                </td>
            </tr>
        </table>
    </div>
</div>


<a name="news"></a>
<div id="news"><div class="container">
    <div class="pgtitlebl">
        <h1 class="ttl">[:=lang.index.news.ttl:]</h1>
        <div class="brl"><b></b></div>
    </div>

    [: if(lang.useset == 'zh') { :]

        <a class="item" href="https://medium.com/p/13e232ea146f" target="_blank">
            <p class="t">五分钟了解 Hacash：一个以“货币性”为核心目标的加密项目</p>
            <p class="meta">[Medium]<i class="time">2020年12月10日 · 15分钟阅读</i></p>
            <div class="clear"></div>
        </a>
        <a class="item" href="https://medium.com/p/76252ecae3a5" target="_blank">
            <p class="t">一文读透：为什么HACD是比BTC稀缺性更强更适合财富储存的加密资产？</p>
            <p class="meta">[Medium]<i class="time">2021年1月17日 · 12分钟阅读</i></p>
            <div class="clear"></div>
        </a>
        <a class="item" href="https://medium.com/p/e7582e4faaa5" target="_blank">
            <p class="t">从货币理论上细看为何 HAC 将成为大规模支付结算货币</p>
            <p class="meta">[Medium]<i class="time">2021年1月24日 · 8分钟阅读</i></p>
            <div class="clear"></div>
        </a>
        <a class="item" href="https://medium.com/p/90147acbbe94" target="_blank">
            <p class="t">从HAC的价值稳定性设计和通道链技术看大规模支付结算加密货币的未来</p>
            <p class="meta">[Medium]<i class="time">2021年3月25日 · 10分钟阅读</i></p>
            <div class="clear"></div>
        </a>
        <a class="item" href="https://mp.weixin.qq.com/s?__biz=Mzg4NDY3NTY5NA==&mid=2247483746&idx=1&sn=c9aa15aa04a7070a44b6851a0ee8a2fa" target="_blank">
            <p class="t">加密货币的前世今生：从非对称加密到比特币继承者 Hacash</p>
            <p class="meta">[HacashDiamonds中文站]<i class="time">2021年10月9日 · 30分钟阅读</i></p>
            <div class="clear"></div>
        </a>
        <a class="item" href="https://medium.com/p/7d733169dbd0" target="_blank">
            <p class="t">从三个不可能三角看Hacash的核心叙事逻辑</p>
            <p class="meta">[Medium]<i class="time">2022年8月29日 · 10分钟阅读</i></p>
            <div class="clear"></div>
        </a>
        <a class="item" href="https://www.odaily.news/post/5172542" target="_blank">
            <p class="t">从天价图片到天价文字，NFT的究极形态是什么？</p>
            <p class="meta">[星球日报]<i class="time">2021年9月13日 · 5分钟阅读</i></p>
            <div class="clear"></div>
        </a>
        <a class="item" href="https://www.odaily.news/post/5173426" target="_blank">
            <p class="t">目前市场基于PoW机制的NFT项目比较</p>
            <p class="meta">[星球日报]<i class="time">2021年10月19日 · 3分钟阅读</i></p>
            <div class="clear"></div>
        </a>
        <a class="item" href="https://medium.com/p/e0e74a2ffc3f" target="_blank">
            <p class="t">13个原因说明 HACD 钻石是非常值得收藏的历史性NFT</p>
            <p class="meta">[Medium]<i class="time">2022年4月26日 · 7分钟阅读</i></p>
            <div class="clear"></div>
        </a>


    [: }else{ :]
    
    <a class="item" href="https://www.youtube.com/watch?v=ABrxpALsNPE" target="_blank">
        <p class="t video">What is Hacash? By Trevor</p>
        <p class="meta">[YouTube]<i class="time">April 24, 2022 · 8 min look</i></p>
        <div class="clear"></div>
    </a>

    <a class="item" href="https://www.youtube.com/watch?v=zXo9E3hxDGo" target="_blank">
        <p class="t video">What is Hacash? Money, Payment and Store of Value</p>
        <p class="meta">[YouTube]<i class="time">April 24, 2022 · 8 min look</i></p>
        <div class="clear"></div>
    </a>

    <a class="item" href="https://www.youtube.com/watch?v=SOwL6buMfeg" target="_blank">
        <p class="t video">What is HACD (Hacash Diamond Explained in Two Minutes) ?</p>
        <p class="meta">[YouTube]<i class="time">April 24, 2022 · 8 min look</i></p>
        <div class="clear"></div>
    </a>
            
    <a class="item" href="https://kenyou.medium.com/what-is-hacash-52bcd7b438ea" target="_blank">
        <p class="t">What is Hacash? by KenYou</p>
        <p class="meta">[Medium]<i class="time">Sep 14, 2020 · 9 min read</i></p>
        <div class="clear"></div>
    </a>
    <a class="item" href="https://vaibhavc.medium.com/hacash-an-open-source-encryption-project-with-monetary-as-its-core-target-c11c03188f1d" target="_blank">
        <p class="t">Hacash : An Open source Encryption Project with “Monetary” as its Core Target</p>
        <p class="meta">[Medium]<i class="time">Jan 25, 2021 · 15 min read</i></p>
        <div class="clear"></div>
    </a>
    <a class="item" href="https://hacashtalk.com/t/why-is-hacd-an-encrypted-asset-which-is-more-scarce-suitable-for-wealth-storage-than-btc/65" target="_blank">
        <p class="t">Why is HACD an encrypted asset which is more scarce & suitable for wealth storage than BTC?</p>
        <p class="meta">[Hacashtalk]<i class="time">Jan 21, 2021 · 13 min read</i></p>
        <div class="clear"></div>
    </a>
    <a class="item" href="https://hacashtalk.com/t/why-hacash-is-better-than-bitcoin/48" target="_blank">
        <p class="t">Why Hacash is better than Bitcoin?</p>
        <p class="meta">[Hacashtalk]<i class="time">Dec 29, 2020 · 19 min read</i></p>
        <div class="clear"></div>
    </a>
    <a class="item" href="https://hackernoon.com/pow-based-nfts-in-2021-a-comparison" target="_blank">
        <p class="t">PoW-Based NFTs in 2021: A Comparison</p>
        <p class="meta">[Hackernoon]<i class="time">Oct 15, 2021 · 4 min read</i></p>
        <div class="clear"></div>
    </a>
    <a class="item" href="https://hackernoon.com/why-pow-nfts-are-the-next-blue-chip-nft-collections" target="_blank">
        <p class="t">Why PoW NFTs are the Next Blue-Chip NFT Collections</p>
        <p class="meta">[Hackernoon]<i class="time">April 5, 2022 · 8 min read</i></p>
        <div class="clear"></div>
    </a>
    <a class="item" href="https://nftplazas.com/hacash-diamond-proof-of-work-nfts/" target="_blank">
        <p class="t">Hacash Diamond Brings Proof of Work NFTs Into the Fold</p>
        <p class="meta">[NFTplazas]<i class="time">April 7, 2022 · 3 min read</i></p>
        <div class="clear"></div>
    </a>
    <a class="item" href="https://nfthours.com/13-reasons-why-the-historic-pow-nft-hacash-diamond-a-worthy-collectible/" target="_blank">
        <p class="t">13 Reasons Why the Historic PoW NFT Hacash Diamond a Worthy Collectible</p>
        <p class="meta">[NFThours]<i class="time">April 21, 2022 · 5 min read</i></p>
        <div class="clear"></div>
    </a>
    <a class="item" href="https://www.nftradar.org/powering-pow-nfts-to-become-the-next-blue-chip-nft-collection/" target="_blank">
        <p class="t">Powering PoW NFTs to become the next blue chip NFT collection, Hacash Diamonds launches HACD exchange</p>
        <p class="meta">[NFThours]<i class="time">April 20, 2022 · 3 min read</i></p>
        <div class="clear"></div>
    </a>
    
    [: } :]

</div></div>



<a name="link"></a>
<div id="link"><div class="container">


    <div class="pgtitlebl">
        <h1>[:=lang.index.link.ttl:]</h1>
        <div class="brl"><b></b></div>
    </div>
    <div class="item i5 trade" >
        <a class="box" target="_blank" href="https://dex-trade.com/spot/trading/HACUSDT">
            <h1 class="t">DEX-TRADE</h1>
            <p class="l">dex-trade.com</p>
        </a>
    </div>
    <div class="item i1 trade" >
        <a class="box" target="_blank" href="https://vindax.com/exchange-base.html?symbol=HAC_USDT">
            <h1 class="t">Vindax</h1>
            <p class="l">vindax.com</p>
        </a>
    </div>
    <div class="item i8 trade">
        <a class="box" target="_blank" href="https://opensea.io/collection/hacashdiamond">
            <h1 class="t">OpenSea</h1>
            <p class="l">opensea.io</p>
        </a>
    </div>
    <div class="item i10 trade">
        <a class="box" target="_blank" href="https://www.hacash.diamonds/">
            <h1 class="t">Hacash.diamonds</h1>
            <p class="l">hacash.diamonds</p>
        </a>
    </div>
    <!-- <div class="item i10 trade">
        <a class="box" target="_blank" href="https://www.hacashmarket.com/">
            <h1 class="t">Hacash Market</h1>
            <p class="l">hacashmarket.com</p>
        </a>
    </div> -->
    <!-- <div class="item i2">
        <a class="box" target="_blank" href="[:=lang.index.link.coingecko:]">
            <h1 class="t">CoinGecKo</h1>
            <p class="l">coingecko.com</p>
        </a>
    </div> -->
    <div class="item i2">
        <a class="box" target="_blank" href="https://hacash.com">
            <h1 class="t">Hacash.com</h1>
            <p class="l">hacash.com</p>
        </a>
    </div>
    <div class="item i2">
        <a class="box" target="_blank" href="https://hacd.art">
            <h1 class="t">HACD.art</h1>
            <p class="l">hacd.art</p>
        </a>
    </div>
    <div class="item i2">
        <a class="box" target="_blank" href="https://hacash.money">
            <h1 class="t">Hacash.money</h1>
            <p class="l">hacash.money</p>
        </a>
    </div>
    <div class="item i2">
        <a class="box" target="_blank" href="https://master.hacash.com">
            <h1 class="t">Master Hacash</h1>
            <p class="l">master.hacash.com</p>
        </a>
    </div>
    <div class="item i4 tgw">
        <a class="box" target="_blank" href="https://miningpoolstats.stream/hacash">
            <h1 class="t">MiningPoolStats</h1>
            <p class="l">miningpoolstats.stream</p>
        </a>
    </div>
    <div class="item i6 tgw">
        <a class="box" target="_blank" href="https://hacashtalk.com/">
            <h1 class="t">HacashTalk</h1>
            <p class="l">hacashtalk.com</p>
        </a>
    </div>
    <div class="item i7">
        <a class="box" target="_blank" href="https://hacashpool.com/">
            <h1 class="t">HacashPool</h1>
            <p class="l">hacashpool.com</p>
        </a>
    </div>
    <div class="item i9">
        <a class="box" target="_blank" href="https://hacpool.com/">
            <h1 class="t">WoWPool</h1>
            <p class="l">hacpool.com</p>
        </a>
    </div>
    <!-- <div class="item i11">
        <a class="box" target="_blank" href="https://hcpu.hacash.org/">
            <h1 class="t">Payment Union</h1>
            <p class="l">hcpu.hacash.org</p>
        </a>
    </div> -->
    <!-- <div class="item i12">
        <a class="box" target="_blank" href="https://payinst.com/">
            <h1 class="t">PayInst</h1>
            <p class="l">payinst.com</p>
        </a>
    </div> -->
    <div class="item i13">
        <a class="box" target="_blank" href="http://hacash.brizy.site/">
            <h1 class="t">Rewards Count</h1>
            <p class="l">hacash.brizy.site</p>
        </a>
    </div>


</div></div>


<a name="join"></a>
<div id="join"><div class="container">

    <div class="pgtitlebl">
        <h1 class="ttl">[:=lang.index.join.ttl:]</h1>
        <div class="brl"><b></b></div>
    </div>

    <div class="area">
        <div class="icon"><img src="/cssimg/darkicons/web.png" /></div>
        <div class="list">
            <div class="li"><a target="_blank" href="https://hacashtalk.com">HacashTalk</a></div>
        </div>
    </div>

    <div class="area">
        <div class="icon"><img src="/cssimg/darkicons/medium.png" /></div>
        <div class="list">
            <div class="li"><a target="_blank" href="https://medium.com/@HacashFans">HacashFans</a></div>
            <div class="li"><a target="_blank" href="https://medium.com/@Hacash.Diamonds">Hacash.Diamonds</a></div>
        </div>
    </div>

    <div class="area">
        <div class="icon"><img src="/cssimg/darkicons/twitter.png" /></div>
        <div class="list">
            <div class="li"><a target="_blank" href="https://twitter.com/HacashNews">HacashNews</a></div>
            <div class="li"><a target="_blank" href="ttps://twitter.com/HacashDiamond">Hacash.Diamonds</a></div>
        </div>
    </div>

    <div class="area">
        <div class="icon"><img src="/cssimg/darkicons/discord.png" /></div>
        <div class="list">
            <div class="li"><a target="_blank" href="https://discord.gg/evtt4bDfKu">Hacash Discord</a></div>
            <div class="li"><a target="_blank" href="https://discord.gg/tztZJnjmrT">Hacash.Diamonds</a></div>
        </div>

    </div>

    <div class="area">
        <div class="icon"><img src="/cssimg/darkicons/telegram.png" /></div>
        <div class="list">
            <div class="li"><a target="_blank" href="https://t.me/HacashCom">HacashPool</a></div>
            <div class="li"><a target="_blank" href="https://t.me/hacash">Hacash Community</a></div>
            <div class="li"><a target="_blank" href="https://t.me/hacashhacd">Hacpool Official</a></div>
        </div>
    </div>

    <div class="area">
        <div class="icon"><img src="/cssimg/darkicons/youtube.png" /></div>
        <div class="list">
            <div class="li"><a target="_blank" href="https://www.youtube.com/channel/UC2dqxbiqtdBA-uz2YMyRIHg">HacashFans</a></div>
        </div>
    </div>

    
</div></div>



