<div class="randbar">
    <div id="tpbg" class="bgc t"></div>
</div>


<div id="screen">
    <div class="container"><div class="box">

        <div class="logo">
            <div class="shadow none"></div>
            <img class="rlgs away" src="/svg/hac.svg" />
        </div>
        <div class="what">
            <h1>Hacash <span class="desc" desc="[:=lang.common.desc.join('/'):]">[:=lang.common.desc[0]:]</span></h1>
            <p class="intro">[:=lang.common.intro:]</p>
            <div class="btns">
                <a class="play f" href="" target="_blank"><u class="ftic">&#xe617;</u></a>
            </div>
        </div>
        <div class="empty"></div>
        <div class="cvimgs">
            <div class="cvbg"></div>
            <img class="i1" src="/cssimg/index/l3.jpg" />
            <img class="i2" src="/cssimg/index/l1.jpg" />
            <img class="i3" src="/cssimg/index/l2.jpg" />
        </div>

    </div></div>
</div>


<div class="randbar">
    <div id="btbg" class="bgc b"></div>
</div>


<div id="quick">
    <div class="container">
        <div class="cvits">
            <div class="itw"><a class="item" href="/individual" target="_blank">
                <div class="ftic">&#xe62b;</div>
                <h3>[:=lang.index.start.ichs[0]:]</h3>
            </a></div>
            <div class="itw"><a class="item" href="/miner" target="_blank">
                <div class="ftic">&#xe60d;</div>
                <h3>[:=lang.index.start.ichs[1]:]</h3>
            </a></div>
            <div class="itw"><a class="item" href="/business" target="_blank">
                <div class="ftic">&#xe603;</div>
                <h3>[:=lang.index.start.ichs[2]:]</h3>
            </a></div>
            <div class="itw"><a class="item" href="/artist" target="_blank">
                <div class="ftic">&#xe633;</div>
                <h3>[:=lang.index.start.ichs[3]:]</h3>
            </a></div>
            <div class="itw"><a class="item" href="/developer" target="_blank">
                <div class="ftic">&#xe67e;</div>
                <h3>[:=lang.index.start.ichs[4]:]</h3>
            </a></div>
        </div>
        <div class="ktops">
            <div class="opw"><a href="/get" class="opt" target="_blank">
                <div><span class="ftic">&#xe89d;</span><span>[:=lang.index.start.opts[0]:]</span></div>
            </a></div>
            <div class="opw"><a href="https://wallet.hacash.org?lang=[:=lang.useset:]" class="opt" target="_blank">
                <div><span class="ftic">&#xe76e;</span><span>[:=lang.index.start.opts[1]:]</span></div>
            </a></div>
            <div class="opw"><a href="https://explorer.hacash.org?lang=[:=lang.useset:]" class="opt" target="_blank">
                <div><span class="ftic">&#xf2fb;</span><span>[:=lang.index.start.opts[2]:]</span></div>
            </a></div>
        </div>
    </div>
</div>

<a name="value"></a>
<div id="value">
    <div class="pnext"><u>⇣</u></div>
    <div class="container"><div class="wrap">
        <div class="itw i1"><div class="box">
            <div class="left ctx">
                <h1 class="val">[:=lang.index.value[0][0]:]</h1>
                <p class="desc">[:=lang.index.value[0][1]:]</p>
                <div class="btns">
                    <a target="_blank" href="/PoW">[:=lang.index.value[0][2]:]</a>
                </div>
            </div>
            <div class="right ico">
                <div class="ftic">&#xec49;</div>
            </div>
        </div></div>
        <div class="itw i2"><div class="box">
            <div class="left ico">
                <div class="ftic">&#xea5a;</div>
            </div>
            <div class="rigth ctx">
                <h1 class="val">[:=lang.index.value[1][0]:]</h1>
                <p class="desc">[:=lang.index.value[1][1]:]</p>
                <div class="btns">
                    <a target="_blank" href="/flatcoin">[:=lang.index.value[1][2]:]</a>
                </div>
            </div>
        </div></div>
        <div class="itw i3"><div class="box">
            <div class="left ctx">
                <h1 class="val">[:=lang.index.value[2][0]:]</h1>
                <p class="desc">[:=lang.index.value[2][1]:]</p>
                <div class="btns">
                    <a target="_blank" href="/btc">[:=lang.index.value[2][2]:]</a>
                </div>
            </div>
            <div class="right ico">
                <div class="ftic">&#xe9ef;</div>
            </div>
        </div></div>
        <div class="itw i4"><div class="box">
            <div class="left ico">
                <div class="ftic">&#xe62f;</div>
            </div>
            <div class="rigth ctx">
                <h1 class="val">[:=lang.index.value[3][0]:]</h1>
                <p class="desc">[:=lang.index.value[3][1]:]</p>
                <div class="btns">
                    <a target="_blank" href="/infra">[:=lang.index.value[3][2]:]</a>
                </div>
            </div>
        </div></div>
        <div class="itw i5"><div class="box">
            <div class="left ctx">
                <h1 class="val">[:=lang.index.value[4][0]:]</h1>
                <p class="desc">[:=lang.index.value[4][1]:]</p>
                <div class="btns">
                    <a target="_blank" href="/cypherpunk">[:=lang.index.value[4][2]:]</a>
                </div>
            </div>
            <div class="right ico">
                <div class="ftic">&#xe643;</div>
            </div>
        </div></div>

    </div></div>
</div>

<a name="3coin3layer"></a>
<div id="c3l3">
    <div class="pnext"><u>⇣</u></div>
    <div class="secw coin3">
        <h1 class="pttl">[:=lang.index.c3l3.ct:]</h1>
        <a class="bd b1" target="_blank" href="/HACD">
            <div class="imgb">
                <h1>HACD</h1>
                <p>[:=lang.index.c3l3.cp1:]</p>
                <img class="bs" src="/cssimg/index/bdc3.svg" />
                <img class="rc" src="/cssimg/index/bdc3rc.svg" />
                <img class="ico" src="/svg/hacd.svg?fill=01383a" />
            </div>
            <div class="txt">
                <i></i>
                <ul>
                    [: var cli1 = lang.index.c3l3.cli1; for(var i in cli1){ var one=cli1[i]; :]
                    <li>[:=one:]</li>
                    [: } :]
                </ul>
            </div>
        </a>
        <a class="bd b2" target="_blank" href="/HAC">
            <div class="imgb">
                <h1>HAC</h1>
                <p>[:=lang.index.c3l3.cp2:]</p>
                <img class="bs" src="/cssimg/index/bdc3.svg" />
                <img class="rc" src="/cssimg/index/bdc3rc.svg" />
                <img class="ico" src="/svg/hac.svg?fill=044401" />
            </div>
            <div class="txt">
                <i></i>
                <ul>
                    [: var cli2 = lang.index.c3l3.cli2; for(var i in cli2){ var one=cli2[i]; :]
                    <li>[:=one:]</li>
                    [: } :]
                </ul>
            </div>
        </a>
        <a class="bd b3" target="_blank" href="/BTC">
            <div class="imgb">
                <h1>BTC</h1>
                <p>[:=lang.index.c3l3.cp3:]</p>
                <img class="bs" src="/cssimg/index/bdc3.svg" />
                <img class="rc" src="/cssimg/index/bdc3rc.svg" />
                <img class="ico" src="/svg/btc.svg?fill=472701" />
            </div>
            <div class="txt">
                <i></i>
                <ul>
                    [: var cli3 = lang.index.c3l3.cli3; for(var i in cli3){ var one=cli3[i]; :]
                    <li>[:=one:]</li>
                    [: } :]
                </ul>
            </div>
        </a>
        <div class="note">[:=lang.index.c3l3.cnt:]</div>
    </div>

    <div class="secw layer3">
        <h1 class="pttl">[:=lang.index.c3l3.lt:]</h1>
        <div class="insw">
            <a class="wp w3" target="_blank" href="/layer-3">
                <div class="bd b3">
                    <h1>L3</h1>
                    <p>[:=lang.index.c3l3.lp3:]</p>
                    <img class="bs" src="/cssimg/index/bdi3.svg" />
                    <img class="rc" src="/cssimg/index/bdi3rc.svg" />
                </div>
                <div class="txt">
                    <u></u>
                    <i></i>
                    <p>
                    [: var lli3 = lang.index.c3l3.lli3; for(var i in lli3){ var one=lli3[i]; :]
                    <span>[:=one:]</span>
                    [: } :]
                    </p>
                </div>
            </a>
            <a class="wp w2" target="_blank" href="/layer-2">
                <div class="bd b2">
                    <h1>L2</h1>
                    <p>[:=lang.index.c3l3.lp2:]</p>
                    <img class="bs" src="/cssimg/index/bdi3.svg" />
                    <img class="rc" src="/cssimg/index/bdi3rc.svg" />
                </div>
                <div class="txt">
                    <u></u>
                    <i></i>
                    <p>
                    [: var lli2 = lang.index.c3l3.lli2; for(var i in lli2){ var one=lli2[i]; :]
                    <span>[:=one:]</span>
                    [: } :]
                    </p>
                </div>
            </a>
            <a class="wp w1" target="_blank" href="/layer-1">
                <div class="bd b1">
                    <h1>L1</h1>
                    <p>[:=lang.index.c3l3.lp1:]</p>
                    <img class="bs" src="/cssimg/index/bdi3.svg" />
                    <img class="rc" src="/cssimg/index/bdi3rc.svg" />
                    <div class="co h">HAC</div>
                    <div class="co d">HACD</div>
                    <div class="co b">BTC</div>
                </div>
                <div class="txt">
                    <u></u>
                    <i></i>
                    <p>
                    [: var lli1 = lang.index.c3l3.lli1; for(var i in lli1){ var one=lli1[i]; :]
                    <span>[:=one:]</span>
                    [: } :]
                    </p>
                </div>
            </a>
        </div>
        <div class="note">
            <br/><br/>
            [:=lang.index.c3l3.lnt:]
        </div>

    </div>
</div>


<a name=""></a>
<div id="intro">
    <div class="pnext"><u>⇣</u></div>
    <div class="container">
        <div class="box">
            <div><div class="infra"><div class="bsp"></div><img class="c3l3" src="/cssimg/index/3layer.png" /><img class="dlb" src="/cssimg/index/dlb.png" /></div></div>
            <!-- <div><div class="logo"><img id="itrlg" src="/svg/hac-s.svg?fill=" /></div></div> -->
            <div><div class="text">
                [: var ps=lang.index.intro.ps; for(var i in ps){ var one=ps[i]; :]
                <p>[:=one:]</p>
                [: } :]
                <ul>
                    [: var lis=lang.index.intro.lis; for(var i in lis){ var one=lis[i]; :]
                    <li>[:=one:]</li>
                    [: } :]
                </ul>
            </div></div>
        </div>
    </div>
</div>

