/* index.less */

#topbar {
    // background: none;
}

@modelbackcolor: #161616;

.pgtitlebl {
    display: block;
    // background-color: @modelbackcolor;
    // color: whitesmoke;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    h1 {
        font-size: 33px;
        line-height: 40px;
        font-weight: normal;
    }
    .brl{
        position: relative;
        display: inline-block;
        border-top: 1px #333 solid;
        width: 150px;
        line-height: 3px;
        height: 3px;
        b {
            display: block;
            position: absolute;
            top: -2px;
            left: 50px;
            width: 50px;
            height: 3px;
            background-color: #111;
        }
    }
}

#screen {
    transition: all 0.4s;
    background-color: #161616;
    color: whitesmoke;
    padding: 200px 0 100px 0;
    .video {
        transition: all 0.4s;
        opacity: 0;
        // display: none;
        margin: auto;
        width: 600px;
        height: 340px;
        background: #fff;
        position: absolute;
        top: 0;
        left: 30px;
        // top: -100px;
        // margin: 40px auto 80px auto;
        .vcon, iframe {
            width: 100%;
            height: 100%;
        }
        .close {
            position: absolute;
            top: -12px;
            right: -12px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 100px;
            border: 1px solid #fff;
            background-color: #00000099;
            color: #fff;
            font-size: 40px;
            font-weight: bold;
            cursor: pointer;
        }
    }
    .con {
        display: block;
        @keyframes opacityLoop {
            0%{ opacity: 1; }
            50%{ opacity: 0.25; }
            100%{ opacity: 1; }
        }
        width: 660px;
        height: 340px;
        // padding: 20px 0;
        // border: #222 solid 1px;
        margin: auto;
        position: relative;
        text-align: center;
        // margin-left: 200px;
        h1.slg {
            z-index: 2;
            transition: all 0.4s;
            position: absolute;
            top: 120px;
            width: 100%;
            color: #fff;
            font-size: 60px;
            height: 60px;
            line-height: 60px;
        }
        .name {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 50px 0;
            z-index: 1;
            transition: opacity 1.2s;
            opacity: 0;
            font-size: 300px;
            color: #222;
            height: 240px;
            line-height: 240px;
            // padding: 20px 0;
        }
        .name.ani {
            opacity: 0;
            // display: none;
        }
        .info {
            z-index: 2;
            transition: all 0.4s;
            position: absolute;
            width: 100%;
            bottom: 120px;
            font-size: 20.4px;
            color: darkcyan;
        }
        .learn {
            z-index: 10;
            position: absolute;
            top: 140px;
            width: 100%;
            height: 60px;
            opacity: 0;
            transition: all 3s;
            // padding: 50px 0 80px 0;
            text-align: center;
            overflow: hidden;
            a {
                user-select: none;
                transition: all 0.48s;
                position: absolute;
                display: block;
                padding: 16px 0;
                left: 50%;
                margin-left: -110px;
                width: 220px;
                border: 1px solid #333;
                cursor: pointer;
                background-color: #ffffff0f;
            }
            a.next {
                width: 40px;
                height: 40px;
                padding: 0;
                font-size: 20px;
                line-height: 40px;
                left: auto;
                top: 10px;
                right: 25px;
                border-radius: 100px;
                border-color: transparent;
            }
            a.hide {
                opacity: 0;
                &.left {
                    left: -200px;
                }
                &.right {
                    left: 800px;
                }
            }
            i, b {
                font-style: normal;
                font-weight: normal;
                font-size: 25px;
                line-height: 25px;
                height: 25px;
                display: inline-block;
                vertical-align: top;
                color: #ddd;
            }
        }
        .learn.show {
            opacity: 1;
        }
        .learn a:hover {
            background-color: #ffffff22;
            border-color: #888;
            i, b {
                color: #ddd;
            }
        }
    }
    .links {
        margin-top: 80px;
        text-align: center;
        a {
            display: inline-block;
            margin: 10px;
            padding: 10px 20px;
            cursor: pointer;
            border: 1px solid transparent;
            color: #ffffff66;
        }
        a:hover {
            background-color: #00000099;
            border-color: #ffffff33;
            color: #fff;
        }
        b {
            font-size: 22px;
            color: inherit;
            font-weight: normal;
        }
    }
}


#screen.show {
    .con {
        h1.slg {
            top: -10px;
        }
        .name {
            opacity: 1;
        }
        .name.ani {
            animation: opacityLoop 2s infinite linear;
        }
        .info {
            opacity: 1;
            bottom: 30px;
        }
    }
}


#screen.video {
    // padding-bottom: 0;
    .con {
        // padding-top: 200px;
        h1.slg {
            top: -75px;
        }
        .info {
            bottom: -35px;
        }
        .name {
            display: none;
            opacity: 0;
            height: 0px;
        }
    }
    .video {
        display: block;
    }
    .video.show {
        opacity: 1; 
    }


}


#traits {
    padding: 50px 0 0 0;

    .img {
        a {
            display: block;
        }
        img {
            display: block;
            width: 100%;
            filter: grayscale(100%);
        }
    }
    .note{
        text-align: center;
        p {
            font-size: 20px;
            margin-top: 25px;
            b {
                font-size: inherit;
            }
        }
    }
}


#detail {
    padding: 50px 0 0 0;
    .intxt {
        margin-top: 20px;
        font-size: 20px;
        text-align: left;
    }
    table.itwrap {
        margin: 40px auto;
        border-spacing: 0;
        border-collapse: collapse;
        border: 1px solid #666;
        th, td {
            vertical-align: top;
          border-spacing: 0;
          border-collapse: collapse;
          border: 1px solid #666;
          padding: 20px;
        }
        .ico {
            .ftico {
                font-size: 30px;
            }
        }
    }
    .item {
        h5 {
            font-size: 20px;
            line-height: 25px;
            min-height: 50px;
            margin: 10px 0;
            font-weight: bold;
        }
        p {
            font-size: 16px;
        }
    }

}


#news {
    padding: 50px 0 0 0;
    .item {
        display: block;
        padding: 15px 0;
        clear: both;
        p {
            font-size: 20px;
            color: #161616;
            line-height: 20px;
            i {
                font-size: inherit;
                color: inherit;
                line-height: inherit;
            }
        }
        p.t {
            float: left;
            &::before {
                content: "➟ ";
            }
        }
        p.meta {
            float: right;
            font-size: 16px;
        }
    }
    .item:hover {
        background-color: #eee;
        p.t {
            text-decoration: underline;
        }
    }
}


@media screen and (max-width: 640px) {



#news {
    padding: 0px 0 0 0;
    .item {
        padding: 10px;
        p {
            display: block !important;
            float: none !important;
        }
        p.meta {
            color: #888;
        }
    }
}

    
#traits {
    padding: 0px 0 0 0;

    .note{
        text-align: center;
        p {
            font-size: 18px;
            margin: 20px 5px;
        }
    }
}

#detail {
    padding: 0px 0 0 0;
    .intxt {
        margin: 20px 10px;
    }
    table.itwrap {
        display: block;
        border: none;
        td {
            display: block;
            border: none;
            padding: 10px;
            text-align: center;
        }
    }
    .item {
        h5 {
            min-height: auto;
        }
    }
}


#screen {
    padding: 80px 0 80px 0;
    .video {
        width: 100%;
        height: 300px;
    }
    .links {
        margin: 40px 0 0 0;
        a {
            margin: 0;
            padding: 10px;
        }
    }
    .con {
        width: 100%;
        padding: 20px 0;
        height: auto;
        h1.slg {
            position: static;
            font-size: 60px;
            line-height: 60px;
            height: auto;
        }
        .name {
            position: static;
            padding: 0;
            font-size: 160px;
            height: 160px;
            line-height: 160px;
            // padding: 20px 0;
        }
        .learn {
            position: relative;
            top: 0;
            left: 0;
            margin: 0;
            padding: 50px 0 60px 0;
            
            a.next {
                top: 120px;
                right: auto;
                left: 50%;
                margin-left: -21px;
            }
        }
        .video {
            position: relative;
            height: 0;
            top: 0;
            left: 0;
            .close {
                top: 100px;
                right: 10px;
            }
        }
        .info {
            position: static;
            font-size: 20.4px;
            opacity: 0;
        }
    }
}


#screen.video {
    .video {
        margin-top: 40px;
        height: 300px;
    }
    .info {
        opacity: 0;
    }

}

}