




<div id="footer">
    <div class="blkbg"></div>

    <div class="lgx"><img src="/svg/hac-s?fill=fff" /></div>
    <div class="lgbt"></div>

    <div class="bgcvr" >

        <div class="container">
            <div class="ftbox">
                <div class="left">
                    <p>[:=lang.common.support.donate:]</p>
                    <p class="addr"><a href="https://explorer.hacash.org/address/12zzCzDxEvNBuZRyGq2sqQKSGCYBJrAJHU" target="_blank">12zzCzDxEvNBuZRyGq2sqQKSGCYBJrAJHU</a></li>
                    <p ><a class="source" href="/design" target="_blank"><img src="/cssimg/svgs/hac.svg" />[:=lang.common.ftr.lgdsi:]</a></li>
                </div>
                <div class="right">
                    <h1 class="ttl">[:=lang.common.tnv.ttls[0]:]</h1>
                    <ul>
                        <li><a href="https://wallet.hacash.org?lang=[:=lang.useset:]" target="_blank">[:=lang.common.tnv.start[0]:]</a></li>
                        <li><a href="/get" target="_blank">[:=lang.common.tnv.start[1]:]</a></li>
                        <li><a href="https://explorer.hacash.org?lang=[:=lang.useset:]" target="_blank">[:=lang.common.tnv.start[2]:]</a></li>
                        <li><a href="/individual" target="_blank">[:=lang.common.tnv.start[3]:]</a></li>
                        <li><a href="/miner" target="_blank">[:=lang.common.tnv.start[4]:]</a></li>
                        <li><a href="/business" target="_blank">[:=lang.common.tnv.start[5]:]</a></li>
                        <li><a href="/developer" target="_blank">[:=lang.common.tnv.start[6]:]</a></li>
                        <li><a href="/artist" target="_blank">[:=lang.common.tnv.start[7]:]</a></li>
                        <li><a href="/run-full-node" target="_blank">[:=lang.common.tnv.start[8]:]</a></li>
                    </ul>
                </div>
                <div class="right">
                    <h1 class="ttl">[:=lang.common.tnv.ttls[1]:]</h1>
                    <ul>
                        <li><a href="/HAC" target="_blank">[:=lang.common.tnv.learn[0]:]</a></li>
                        <li><a href="/HACD" target="_blank">[:=lang.common.tnv.learn[1]:]</a></li>
                        <li><a href="/BTC" target="_blank">[:=lang.common.tnv.learn[2]:]</a></li>
                        <li><a href="layer-1" target="_blank">[:=lang.common.tnv.learn[3]:]</a></li>
                        <li><a href="layer-2" target="_blank">[:=lang.common.tnv.learn[4]:]</a></li>
                        <li><a href="layer-3" target="_blank">[:=lang.common.tnv.learn[5]:]</a></li>
                        <li><a href="[:=lang.links.wp:]" target="_blank">[:=lang.common.tnv.learn[6]:]</a></li>
                    </ul>
                </div>
                <div class="right">
                    <h1 class="ttl">[:=lang.common.ftr.tlik:]</h1>
                    <ul>
                        <li><a href="https://hacashdao.org" target="_blank">HacashDAO</a></li>
                        <li><a href="https://hacashnews.com" target="_blank">HacashNews</a></li>
                        <li><a href="https://hacd.art" target="_blank">HACD.art</a></li>
                        <li><a href="https://hacash.money" target="_blank">Hacash.money</a></li>
                        <li><a href="https://hacash.com" target="_blank">Hacash.com</a></li>
                        <li><a href="https://www.hacash.diamonds" target="_blank">Hacash.Diamonds</a></li>
                        <li><a href="https://sea.hacash.diamonds/" target="_blank">HacashSea</a></li>
                        [: if(lang.useset=='zh'){ :]
                        <li><a href="https://master.hacash.com" target="_blank">Master Hacash</a></li>
                        [: } :]
                    </ul>
                </div>
                <div class="right">
                    <h1 class="ttl">[:=lang.common.ftr.tcmn:]</h1>
                    <ul>
                        <li><a href="https://twitter.com/HacashNews" target="_blank"><i class="ftic">&#xe665;</i>HacashNews</a></li>
                        <li><a href="https://twitter.com/HacashDAO/" target="_blank"><i class="ftic">&#xe665;</i>HacashDAO</a></li>
                        <li><a href="https://twitter.com/HacashDiamond/" target="_blank"><i class="ftic">&#xe665;</i>HacashDiamond</a></li>
                        <li><a href="https://t.me/hacash" target="_blank"><i class="ftic">&#xe726;</i>Telegram 1</a></li>
                        <li><a href="https://t.me/HacashCom" target="_blank"><i class="ftic">&#xe726;</i>Telegram 2</a></li>
                        <li><a href="https://t.me/hacashhacd" target="_blank"><i class="ftic">&#xe726;</i>Telegram 3</a></li>
                        <li><a href="https://discord.gg/evtt4bDfKu" target="_blank"><i class="ftic">&#xebf8;</i>Discord 1</a></li>
                        <li><a href="https://discord.gg/6wH9KJeDFC" target="_blank"><i class="ftic">&#xebf8;</i>Discord 2</a></li>
                        <li><a href="https://hacashtalk.com/" target="_blank"><i class="ftic">&#xe642;</i>HacashTalk</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="container">
                <p class="cprt"><span><img class="btlg" src="/svg/logof?fill=ffffff88" /> © Hacash.org 2019-2025 Released under the MIT license</span></p>
                <a class="status" href="https://explorer.hacash.org?lang=[:=lang.useset:]" target="_blank">
                    Hacash chain status: <b class="ltb">✔ MAINNET RUNNING</b> 
                </a>
            </div>
        </div>
    </div>
</div>



