




<div id="footer">
    <div class="blkbg"></div>

    <div class="lgx"><img src="/svg/hac-s?fill=fff" /></div>
    <div class="lgbt"></div>

    <div class="bgcvr" >

        <div class="container">
            <div class="ftbox">
                <div class="left">
                    <p>[:=lang.common.support.donate:]</p>
                    <p class="addr"><a href="https://explorer.hacash.org/address/12zzCzDxEvNBuZRyGq2sqQKSGCYBJrAJHU">12zzCzDxEvNBuZRyGq2sqQKSGCYBJrAJHU</a></li>
                    <p><a class="source" href="/development">[:=lang.common.ftr.dvdct:]</a></li>
                    <p><a class="source ico" href="/design"><img src="/cssimg/svgs/hac.svg" />[:=lang.common.ftr.lgdsi:]</a></li>
                </div>
                <div class="right">
                    <h1 class="ttl">[:=lang.common.tnv.ttls[0]:]</h1>
                    <ul>
                        <li><a href="https://wallet.hacash.org?lang=[:=lang.useset:]">[:=lang.common.tnv.start[0]:]</a></li>
                        <li><a href="/get">[:=lang.common.tnv.start[1]:]</a></li>
                        <li><a href="https://explorer.hacash.org?lang=[:=lang.useset:]">[:=lang.common.tnv.start[2]:]</a></li>
                        <li><a href="/individual">[:=lang.common.tnv.start[3]:]</a></li>
                        <li><a href="/miner">[:=lang.common.tnv.start[4]:]</a></li>
                        <li><a href="/business">[:=lang.common.tnv.start[5]:]</a></li>
                        <li><a href="/developer">[:=lang.common.tnv.start[6]:]</a></li>
                        <li><a href="/artist">[:=lang.common.tnv.start[7]:]</a></li>
                        <li><a href="/run-full-node">[:=lang.common.tnv.start[8]:]</a></li>
                    </ul>
                </div>
                <div class="right">
                    <h1 class="ttl">[:=lang.common.tnv.ttls[1]:]</h1>
                    <ul>
                        <li><a href="https://hacashdao.org?lang=[:=lang.useset:]">[:=lang.common.tnv.learn[8]:]</a></li>
                        <li><a href="/HAC">[:=lang.common.tnv.learn[0]:]</a></li>
                        <li><a href="/HACD">[:=lang.common.tnv.learn[1]:]</a></li>
                        <li><a href="/BTC">[:=lang.common.tnv.learn[2]:]</a></li>
                        <li><a href="layer-1">[:=lang.common.tnv.learn[3]:]</a></li>
                        <li><a href="layer-2">[:=lang.common.tnv.learn[4]:]</a></li>
                        <li><a href="layer-3">[:=lang.common.tnv.learn[5]:]</a></li>
                        <li><a href="/HAC-unit">[:=lang.common.tnv.learn[7]:]</a></li>
                        <li><a href="[:=lang.links.wp:]">[:=lang.common.tnv.learn[6]:]</a></li>
                        [: if(lang.useset=='zh'){ :]
                        <li><a href="https://master.hacash.com">掌握Hacash(电子书)</a></li>
                        [: } :]
                    </ul>
                </div>
                <div class="right">
                    <h1 class="ttl">[:=lang.common.ftr.tlik:]</h1>
                    <ul>
                        <li><a href="https://twitter.com/HacashMagazine"><i class="ftic">&#xe665;</i>HacashMagazine</a></li>
                        <li><a href="https://twitter.com/hacashinfo"><i class="ftic">&#xe665;</i>HacashInfo</a></li>
                        <li><a href="https://twitter.com/Hacash_Daily"><i class="ftic">&#xe665;</i>HacashDaily</a></li>
                        <li><a href="https://twitter.com/HacashNews"><i class="ftic">&#xe665;</i>HacashNews</a></li>
                        <li><a href="https://twitter.com/Hacashinitiator"><i class="ftic">&#xe665;</i>HacashInitiator</a></li>
                        <li><a href="https://twitter.com/hacashorg"><i class="ftic">&#xe665;</i>HacashOrg</a></li>
                        <li><a href="https://twitter.com/HacashDAO/"><i class="ftic">&#xe665;</i>HacashDAO</a></li>
                        <li><a href="https://twitter.com/HacashDiamond/"><i class="ftic">&#xe665;</i>HacashDiamond</a></li>
                        <li><a href="https://twitter.com/hacdart/"><i class="ftic">&#xe665;</i>HACD Art</a></li>
                        <li><a href="https://t.me/hacash"><i class="ftic">&#xe726;</i>Telegram 1</a></li>
                        <li><a href="https://t.me/HacashCom"><i class="ftic">&#xe726;</i>Telegram 2</a></li>
                        <li><a href="https://t.me/hacashhacd"><i class="ftic">&#xe726;</i>Telegram 3</a></li>
                        <li><a href="https://discord.gg/evtt4bDfKu"><i class="ftic">&#xebf8;</i>Discord 1</a></li>
                        <li><a href="https://discord.gg/6wH9KJeDFC"><i class="ftic">&#xebf8;</i>Discord 2</a></li>
                    </ul>
                </div>
                <div class="right">
                    <h1 class="ttl">[:=lang.common.ftr.tcmn:]</h1>
                    <ul>
                        <li><a href="https://hacashdao.org">HacashDAO</a></li>
                        <li><a href="https://hacashnews.com">HacashNews</a></li>
                        <li><a href="https://hacd.art">HACD.art</a></li>
                        <li><a href="https://hacash.money">Hacash.money</a></li>
                        <li><a href="https://hacash.com">Hacash.com</a></li>
                        <li><a href="https://www.hacash.diamonds">Hacash.Diamonds</a></li>
                        <li><a href="https://sea.hacash.diamonds/">HacashSea</a></li>
                        <li><a href="https://hacashtalk.com/"><i class="ftic">&#xe642;</i>HacashTalk</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="container">
                <p class="cprt"><span><img class="btlg" src="/svg/logof?fill=ffffff88" /> © Hacash.org 2019-2025 Released under the MIT license</span></p>
                <a class="status" href="https://explorer.hacash.org?lang=[:=lang.useset:]">
                    Hacash chain status: <b class="ltb">✔ MAINNET RUNNING</b> 
                </a>
            </div>
        </div>
    </div>
</div>



