



<div id="footer">

    <div class="bgcvr" >


        <div class="btlogo">
            <div class="wrap t">
                <div class="box">
                    <b><i class="fthac tblG">ㄜ</i></b>
                </div>
            </div>
            <div class="wrap b">
                <div class="box">
                    <b><i class="fthac tblG">ㄜ</i></b>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="left">
                <p>[:=lang.frame.footer.donate_word:]</p>
                <p class="addr"><a href="https://explorer.hacash.org/address/12zzCzDxEvNBuZRyGq2sqQKSGCYBJrAJHU" target="_blank">12zzCzDxEvNBuZRyGq2sqQKSGCYBJrAJHU</a></p>
                <p ><a class="source" href="/design" target="_blank"><img src="/cssimg/hacash_logo.svg" />[:=lang.frame.footer.lgdsi:]</a></p>
            </div>
            <div class="right">
                <h1 class="ttl">[:=lang.frame.footer.devttl:]</h1>
                <p>
                    <a href="[:=lang.frame.pagelink.rpcdoc:]" target="_blank">[:=lang.frame.footer.a1:]</a><i>[:=lang.frame.footer.i1:]</i>
                </p>
                <p>
                    <a href="[:=lang.frame.pagelink.miningdoc:]" target="_blank">[:=lang.frame.footer.a2:]</a><i>[:=lang.frame.footer.i2:]</i>
                </p>
                <p>
                    <a href="[:=lang.frame.pagelink.x16rsdoc:]" target="_blank">[:=lang.frame.footer.a3:]</a><i>[:=lang.frame.footer.i3:]</i>
                </p>
            </div>
        </div>
        <div class="bottom">
            <div class="container">
                <p class="cprt"><span>© Hacash.org 2019-2022 Released under the MIT license</span></p>
                <a class="status" href="https://explorer.hacash.org" target="_blank">
                    Hacash chain status: <b class="ltb">✔ MAINNET RUNNING</b> 
                </a>
            </div>
        </div>
    </div>
</div>



