

<div id="topbar" class="show"><div class="container">

    <div class="box">
        <div>
            <a class="logoft bktt" title="Back to top" href="/">
                <b class="fthac tblG">ㄜ</b><b class="hacash">Hacash</b>
            </a>
        </div>
        <div class="navs">
            <div class="item">
                <b class="b">Start</b>
                <div class="swt">
                    <ul>
                        <li><a href="https://wallet.hacash.org" target="_blank">Wallet</a></li>
                        <li><a href="https://explorer.hacash.org" target="_blank">Explorer</a></li>
                        <li><a href="/get_started" target="_blank">Mining</a></li>
                        <li><a href="/channel_wallet" target="_blank">L2 Pay</a></li>
                        <li><a href="https://github.com/hacash" target="_blank">Github</a></li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <b class="b">Learn</b>
                <div class="swt">
                    <ul>
                        <li><a href="" target="_blank">What is Hacash?</a></li>
                        <li><a href="" target="_blank">What is HACD?</a></li>
                        <li><a href="" target="_blank">Master Hacash</a></li>
                        <li><a href="" target="_blank">Articles</a></li>
                        <li><a href="[:=lang.frame.pagelink.whitepaper:]" target="_blank">[:=lang.frame.topnav.whitepaper:]</a></li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <b class="b">Resources</b>
                <div class="swt">
                    <ul>
                        <li><a href="" target="_blank">Community</a></li>
                        <li><a href="" target="_blank">Development</a></li>
                        <li><a href="" target="_blank">HIP Table</a></li>
                        <li><a href="" target="_blank">DAO</a></li>
                        
                    </ul>
                </div>
            </div>
            <div class="item">
                <b class="b">[:=lang.frame.topnav.docs:]</b>
                <div class="swt">
                    <ul>
                        <li><a href="[:=lang.frame.pagelink.rpcdoc:]" target="_blank">[:=lang.frame.footer.a1:]</a></li>
                        <li><a href="[:=lang.frame.pagelink.miningdoc:]" target="_blank">[:=lang.frame.footer.a2:]</a></li>
                        <li><a href="/channel_wallet" target="_blank">[:=lang.index.start.chpay:]</a></li>
                        <li><a href="https://github.com/hacash/miner/blob/master/doc/software_release_log.md" target="_blank">[:=lang.frame.topnav.releaselog:]</a></li>
                        <li><a href="https://github.com/hacash/paper/tree/master/HIP/HIP-table.md" target="_blank">[:=lang.frame.topnav.hipdraft:]</a></li>
                        <li><a href="[:=lang.frame.pagelink.x16rsdoc:]" target="_blank">[:=lang.frame.footer.a3:]</a></li>
                        <li><a href="[:=lang.frame.pagelink.fairdoc:]" target="_blank">[:=lang.frame.footer.a4:]</a></li>
                        <li><a href="/hac_unit" target="_blank">[:=lang.frame.topnav.hacunit:]</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="navs">
            <!-- <div class="itembr"><b></b></div> -->
            <div class="item">
                <!-- 
                    'fr_FR': 'Français',
                -->
                [: var langlist = {
                    'en_US': 'English',
                    'zh_CN': '简体中文',
                }; :]
                <!-- <b class="b"><i class="ftico">&#xf1ab;</i>[:=langlist[lang.useset]:]</b> -->
                <b class="b nt"><i class="ftico">&#xf1ab;</i></b>
                <div class="swt">
                    <ul>
                        [: for(var i in langlist) { :]
                            <li><a href="?lang=[:=i:]">[:=langlist[i]:]</a></li>
                        [: } :]
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div></div>
