
<div id="dnt">
    <div class="container">
        <p>
            [:=lang.common.support.donate:]
            <a href="https://explorer.hacash.org/address/12zzCzDxEvNBuZRyGq2sqQKSGCYBJrAJHU" target="_blank">12zzCzDxEvNBuZRyGq2sqQKSGCYBJrAJHU</a>
        </p>
    </div>
</div>

<div id="topbar" class="[:if(this.is_index_page){:]index[:}:] show"><div class="container">

    <div class="box">
        <div class="mbm"><span class="ftic">&#xe61d;</span></div>
        <div>
            <a class="logoft bktt" title="Back to top" href="/">
                <img class="ftlg" src="/svg/logof.svg[:if(this.is_index_page){:]?fill=fff[:}:]" />
                <!-- <b class="fthac tblG">ㄜ</b><b class="hacash">Hacash</b> -->
            </a>
        </div>
        <div class="navs mbhd" id="tpnvc">
            <div class="item f">
                <b class="b">[:=lang.common.tnv.ttls[0]:]</b>
                <div class="swt">
                    <ul>
                        <li><a href="https://wallet.hacash.org?lang=[:=lang.useset:]" target="_blank">[:=lang.common.tnv.start[0]:]</a></li>
                        <li><a href="/get" target="_blank">[:=lang.common.tnv.start[1]:]</a></li>
                        <li><a href="https://explorer.hacash.org?lang=[:=lang.useset:]" target="_blank">[:=lang.common.tnv.start[2]:]</a></li>
                        <li><a href="/individual" target="_blank">[:=lang.common.tnv.start[3]:]</a></li>
                        <li><a href="/miner" target="_blank">[:=lang.common.tnv.start[4]:]</a></li>
                        <li><a href="/business" target="_blank">[:=lang.common.tnv.start[5]:]</a></li>
                        <li><a href="/developer" target="_blank">[:=lang.common.tnv.start[6]:]</a></li>
                        <li><a href="/artist" target="_blank">[:=lang.common.tnv.start[7]:]</a></li>
                        <li><a href="/run-full-node" target="_blank">[:=lang.common.tnv.start[8]:]</a></li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <b class="b">[:=lang.common.tnv.ttls[1]:]</b>
                <div class="swt">
                    <ul>
                        <li><a href="/HAC" target="_blank">[:=lang.common.tnv.learn[0]:]</a></li>
                        <li><a href="/HACD" target="_blank">[:=lang.common.tnv.learn[1]:]</a></li>
                        <li><a href="/BTC" target="_blank">[:=lang.common.tnv.learn[2]:]</a></li>
                        <li><a href="layer-1" target="_blank">[:=lang.common.tnv.learn[3]:]</a></li>
                        <li><a href="layer-2" target="_blank">[:=lang.common.tnv.learn[4]:]</a></li>
                        <li><a href="layer-3" target="_blank">[:=lang.common.tnv.learn[5]:]</a></li>
                        <li><a href="[:=lang.links.wp:]" target="_blank">[:=lang.common.tnv.learn[6]:]</a></li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <b class="b">[:=lang.common.tnv.ttls[2]:]</b>
                <div class="swt">
                    <ul>
                        <li><a href="/PoW" target="_blank">[:=lang.common.tnv.feature[0]:]</a></li>
                        <li><a href="/flatcoin" target="_blank">[:=lang.common.tnv.feature[1]:]</a></li>
                        <li><a href="/infra" target="_blank">[:=lang.common.tnv.feature[2]:]</a></li>
                        <li><a href="/BTC" target="_blank">[:=lang.common.tnv.feature[3]:]</a></li>
                        <li><a href="/cypherpunk" target="_blank">[:=lang.common.tnv.feature[4]:]</a></li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <b class="b">[:=lang.common.tnv.ttls[3]:]</b>
                <div class="swt">
                    <ul>
                        <li><a href="/development" target="_blank">[:=lang.common.tnv.resource[0]:]</a></li>
                        <li><a href="/resource" target="_blank">[:=lang.common.tnv.resource[1]:]</a></li>
                        <li><a href="/community" target="_blank">[:=lang.common.tnv.resource[2]:]</a></li>
                        <li><a href="/ecosystem" target="_blank">[:=lang.common.tnv.resource[3]:]</a></li>
                        <li><a href="https://github.com/hacash" target="_blank">[:=lang.common.tnv.resource[4]:]</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="navs">
            <!-- <div class="itembr"><b></b></div> -->
            <div class="item">
                <!-- 
                    'fr_FR': 'Français',
                -->
                [: var langlist = {
                    'en': 'English',
                    'zh': '中文简体',
                }; :]
                [: var lgsts = {
                    'en': 'En',
                    'zh': '中',
                }; :]
                <b class="b nt"><span>[:=lgsts[lang.useset]:]</span><i class="ftic">&#xe693;</i></b>
                <!-- <b class="b nt ftic">&#xe693;</b> -->
                <div class="swt">
                    <ul>
                        [: for(var i in langlist) { :]
                            <li><a href="?lang=[:=i:]">[:=langlist[i]:]</a></li>
                        [: } :]
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div></div>
