
<div><br><br><br><br></div>

[: if(lang.useset == 'zh_CN'){ :]

<a name="manual"></a>
<div id="manual">
    <div class="container">
        <div class="pagecard">
            <h1 class="pgtt big">Hacash 通道链网络商家服务节点搭建说明</h1>
            <p class="p">通道链支付结算网络是 Hacash 的二层扩容网络，详细请阅读白皮书《<a class="dld" href="https://github.com/hacash/paper/blob/master/whitepaper.cn.md" target="_blank">Hacash：一种大规模支付实时结算的加密货币系统</a>》。</p>
            <h1 class="pgtt small">概念解释：支付服务商</h1>
            <p class="p">通道链支付结算网络从技术上来说是完全对等节点组成的点对点支付网络，任何节点并不存在与其它节点不对称的资金控制权限。无论资金规模或技术开发上是否存在差距，其网络各方的资金安全完全依赖于自身的诚实和对主网数据更新的细心检查，而不依赖其它诸如身份、地位、财富、技术能力或社会声望。Hacash主网作为一位绝对客观只看证据（也就是对账票据）的仲裁者，平等确保所有类型用户的资金都不被掠夺和窃取。</p>
            <p class="p">由于分工及资源优势不同，在健康的商业合作经济运行实际情况下，网络中某一部分专业节点，可以将自身的技术优势提供出来，为大家的支付需求提供更加高效和便捷的各类技术服务。例如在通道路径路由、通道资金流动优化、网络在线质量、对账票据备份以及仲裁实时监控等事务上，可以由专业节点以收取微量交易费用的形式来提供服务。值得特别注意的是，这种服务仅仅只是技术上的可任意撤销的商品，与资金委托存管的传统银行业务有着本质区别，服务商并不会掌控你的钱。简单来说，就是你的钱没有存在别人那里而是永远被私钥控制在自己手里，没有人能未经允许转移你的钱。并且，服务按次付费，可在任意时候立即撤销对方节点的服务资格，几乎零成本地自由选择更好的服务商节点。</p>
            <p class="p">通道网络里的支付服务商节点就像互联网的宽带接入服务商或者电子邮件服务商，后者提供信息流动的服务，而前者则提供资金流通的服务。由于服务识别区分和支付路由的需要，与 Email 电子邮件一样，每个支付服务商都有一个独一无二的标识符。例如电子邮件地址中的 <span class="val">@gmail.com</span> 后缀，以支付服务商 <a class="dld"  href="https://payinst.com/">PayInst</a> 为例，通道链账户地址示例： </p>
            <p class="p exp">1PytoNB53MX2bi1Nw2S6Fyharzv4zGTDDD_4d295889c6e0e1fc64237e01cd480fd6_PayInst</p>
            <p class="p">可以看到以上地址分为三段，即普通账户地址部分 <span class="val">1PytoNB53MX2bi1Nw2S6Fyharzv4zGTDDD</span> 、通道ID部分 <span class="val">4d295889c6e0e1fc64237e01cd480fd6</span> 和支付服务商标识符部分 <span class="val">PayInst</span> ，三个部分之间用下划线连接起来组成一个完整的通道链账户地址。在登录通道链钱包时，需要提供这种完整形式的账户地址，也即是登录/支付地址。</p>
            <p class="p">当用户端进行收款时，如果账户地址仅仅与服务商开启了唯一一个通道，或者同一地址开启了多个通道服务，且需要服务商自动选择合适的收款通道时，可免去地址中间的通道ID部分，即简写为：</p>
            <p class="p exp">1PytoNB53MX2bi1Nw2S6Fyharzv4zGTDDD_PayInst</p>
            <p class="p">通过 <a class="dld"  href="https://hacashtalk.com/t/hip-6-hacash-diamond-name-service/138">HIP-6 提案 (Hacash Diamond Name Service)</a> 即 HDNS 运用钻石名称进行账户地址 DNS 解析服务之后，收款地址可进一步简化为例如： </p>
            <p class="p exp">MYBANK_PayInst</p>
            <p class="p">此时，收款地址会自动解析为此钻石的所有者地址，目标服务商将自动选择合适的通道。</p>

            <h1 class="pgtt small">服务商搭建</h1>

            <p class="p">由于目前仍处于Hacash基础设施的早期阶段，还没有特别完善的基础设施可以“一键部署”通道链网络的服务节点。Github仓库内有可以运行的开源代码，已经可以搭建可用的服务节点。虽然上文已经较完整的描述整个支付流程，但仍然缺乏清晰的搭建文档。</p>
            
            <p class="p">生态的搭建才刚刚开始，需要更多的团队来共建。</p>
            
            <p class="p">对服务节点来说，有两个关键流程:</p>
            
            <p class="p">1. 通道路由系统</p>
            <p class="p">当前的方案是采用个“通道联盟”技术，所有的商家服务节点联合起来组成一个去中心化、非盈利性质的路由数据下发及更新联盟组织，来作为商家之间的“主干通道”的路由数据管理方法</p>
            
            <p class="p">2. 获客系统</p>
            <p class="p">通过采用线上程序自动化或者线下人工服务的方式，为目标客户开通支付通道</p>
            
            <p class="p">以上两点，获客系统依赖于每个商家的独立开发和创建，而路由联盟需要所有商家或有计划成为商家的团队们共建，请加入一下 Discord 频道：</p>
            

            <div class="p sltusr">
                <a class="card" target="_blank" href="https://discord.gg/nj5RD6z6JN">
                    <p>HCPU Hacash Channel Payment Union</p>
                </a>
            </div>

        </div>
    </div>
</div>











[: }else{ :]



[: } :]


