#detail {
  padding: 140px 0;
}
#detail .pgtitlebl {
  text-align: center;
}
#detail .pgtitlebl h1 {
  font-size: 34px;
}
#detail .intxt {
  margin-top: 22px;
  font-size: 20px;
}
#detail .itwrap {
  margin-top: 26px;
  border-collapse: collapse;
}
#detail .itwrap td {
  border: 1px solid #555;
  padding: 20px;
  vertical-align: top;
}
#detail .itwrap .item {
  position: relative;
}
#detail .itwrap .item .ico {
  position: absolute;
  top: 0px;
  left: 7px;
}
#detail .itwrap .item .ico i {
  font-size: 40px;
  font-style: normal;
}
#detail .itwrap .item h5 {
  margin-left: 70px;
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 20px;
  min-height: 40px;
}
#detail .itwrap .item p {
  clear: both;
  float: none;
  font-size: 16px;
}
#detail .more {
  padding: 40px 0;
  text-align: center;
}
#detail .more button {
  background: #000;
  height: 50px;
  line-height: 50px;
  padding: 0;
  min-width: 400px;
  font-size: 18px;
}
