
<div><br><br><br><br></div>


<a name="manual"></a>
<div id="manual">
    <div class="container">
        <div class="pagecard">
            <h1 class="pgtt big">[:=lang.buy.ttl:]</h1>
            <p class="p">[:=lang.buy.p:]</p>
            <a name="HAC"></a>
            <br/><br/><br/>
            <h1 class="pgtt middle">[:=lang.buy.t1:]</h1>
            <p class="p">
                <div class="exlist">
                    <a class="item" target="_blank" href="https://xeggex.com/market/HAC_USDT">
                        <div class="cv"><img src="/image/exlogo/xeggex.png" /></div>
                        <h1 class="name">Xeggex</h1>
                    </a>
                    <a class="item" target="_blank" href="https://vindax.com/exchange-base.html?symbol=HAC_USDT">
                        <div class="cv"><img src="/image/exlogo/vindax.png" /></div>
                        <h1 class="name">Vindax</h1>
                    </a>
                </div>
            </p>
        
            
            <a name="HACD"></a>
            <br/><br/><br/>
            <h1 class="pgtt middle">[:=lang.buy.t2:]</h1>
            <p class="p">
                <div class="exlist">
                    <a class="item" target="_blank" href="https://sea.hacash.diamonds">
                        <div class="cv"><img src="/image/exlogo/hcxsea.png" /></div>
                        <h1 class="name">HacashSea</h1>
                    </a>
                    <a class="item" target="_blank" href="https://opensea.io/collection/hacashdiamond">
                        <div class="cv"><img src="/image/exlogo/opensea.png" /></div>
                        <h1 class="name">OpenSea</h1>
                    </a>
                    <a class="item" target="_blank" href="https://www.hacash.diamonds">
                        <div class="cv"><img src="/image/exlogo/hxdm.png" /></div>
                        <h1 class="name">Hacash.Diamonds</h1>
                    </a>
                </div>
            </p>
            
            <a name="OTHER"></a>
            <br/><br/><br/>
            <h1 class="pgtt middle">[:=lang.buy.t3:]</h1>
            <p class="p">[:=lang.buy.p3:]</p>
        </div>
    </div>
</div>
