<div id="lgfl">
    <div class="container">

        <h1 class="ttl">Hacash [:=lang.frame.footer.lgdsi:]</h1>

        <p class="join">If you have a better design, or want to make some suggestions, please send or discuss it in the target channel on the <a href="https://discord.com/channels/757976908653920299/802807729584209920">Hacash discord</a>.</p>

        <table class="form">
            <tr><th>#</th><th>Download</th><th>Notes</th></tr>
            <tr><td><img class="lgimg" src="/cssimg/hacash_logo.svg" /></td><td><a download="img" class="down" href="">Hacash HAC Logo.svg</a></td><td><span class="des">Hacash project logo or just HAC icon</span></td></tr>
            <tr><td><img class="lgimg" src="/cssimg/hacash_btc.svg" /></td><td><a download="img" class="down" href="">Hacash BTC Logo.svg</a></td><td><span class="des">BTC icon of move to Hacash</span></td></tr>
            <tr><td><img class="lgimg" src="/cssimg/hacash_hacd.svg" /></td><td><a download="img" class="down" href="">Hacash HACD Logo.svg</a></td><td><span class="des">HACD icon</span></td></tr>
            <tr><td><img class="lgimg" src="/cssimg/hacash_sign.svg" /></td><td><a download="img" class="down" href="">Hacash Logo Sign.svg</a></td><td><span class="des">HAC icon center symbol</span></td></tr>


            <tr><td><div class="colorbg"></div></td><td><div class="color">color: #ffcc00</div></td><td><span class="des">Main Theme Color</span></td></tr>

            <tr><td><div class="file">PSD</div></td><td><a download="img" class="down" href="/cssimg/HacashLogo.psd">Hacash All Logos.pdf</a></td><td><span class="des">Hacash all logos in one PSD file</span></td></tr>
        </table>




    </div>
</div>