.sltusr {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.sltusr .card {
  width: 45%;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #999;
  padding: 40px 0;
  cursor: pointer;
}
.sltusr .card p {
  font-size: 22px;
}
.sltusr .card:hover {
  background-color: #f0f0f0;
}
.sltusr .card:hover p {
  color: ;
}
