<div id="lgfl">
    <div class="container">

        <h1 class="ttl">Hacash [:=lang.common.ftr.lgdsi:]</h1>

        <p class="join">If you have a better design, or want to make some suggestions, please send or discuss it in the target channel on the <a href="https://discord.com/channels/757976908653920299/802807729584209920">Hacash discord</a>.</p>

        <table class="form">
            <tr><th>#</th><th>Download</th><th>Notes</th></tr>
            <tr><td><img class="lgimg" src="/cssimg/svgs/logof.svg"  /></td><td><a download="img" class="down" href="/cssimg/svgs/logof.svg">Hacash Logo.svg</a></td><td><span class="des">Hacash project logo, icon rotation angle 15 degrees</span></td></tr>
            <tr><td><img class="lgimg" src="/cssimg/svgs/hac.svg"    /></td><td><a download="img" class="down" href="/cssimg/svgs/hac.svg">HAC Logo.svg</a></td><td><span class="des">HAC icon</span></td></tr>
            <tr><td><img class="lgimg" src="/cssimg/svgs/hac-s.svg"  /></td><td><a download="img" class="down" href="/cssimg/svgs/hac-s.svg">HAC Logo.svg</a></td><td><span class="des">HAC icon</span></td></tr>
            <tr><td><img class="lgimg" src="/cssimg/svgs/btc.svg"    /></td><td><a download="img" class="down" href="/cssimg/svgs/btc.svg">BTC Logo.svg</a></td><td><span class="des">BTC icon of move to Hacash</span></td></tr>
            <tr><td><img class="lgimg" src="/cssimg/svgs/btc-s.svg"  /></td><td><a download="img" class="down" href="/cssimg/svgs/btc-s.svg">BTC Logo.svg</a></td><td><span class="des">BTC icon of move to Hacash</span></td></tr>
            <tr><td><img class="lgimg" src="/cssimg/svgs/hacd.svg"   /></td><td><a download="img" class="down" href="/cssimg/svgs/hacd.svg">HACD Logo.svg</a></td><td><span class="des">HACD icon</span></td></tr>
            <tr><td><img class="lgimg" src="/cssimg/svgs/hacd-s.svg" /></td><td><a download="img" class="down" href="/cssimg/svgs/hacd-s.svg">HACD Logo.svg</a></td><td><span class="des">HACD icon</span></td></tr>


            <tr><td><div class="colorbg"></div></td><td><div class="color">color: #f7af34</div></td><td><span class="des">Main Theme Color</span></td></tr>

            <!-- <tr><td><div class="file">PSD</div></td><td><a download="img" class="down" href="/cssimg/HacashLogo.psd">Hacash All Logos.pdf</a></td><td><span class="des">Hacash all logos in one PSD file</span></td></tr> -->
        </table>




    </div>
</div>